{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
	领取现金券
{% endblock %}

{% block middle %}
<audio preload="preload" id="shake_audio">
	<source src="/static/game/sound/shake.mp3">
	Your browser does not support the audio tag.
</audio>
<audio preload="preload" id="triumph_audio" src="/static/game/sound/triumph.mp3"></audio>
<audio preload="preload" id="lose_audio" src="/static/game/sound/lose.mp3"></audio>

<div class="container-fluid">
	<div class="row">
		<div class="font_gl" style="text-align: center; margin-top: 30px">
			<img src="/static/game/images/money.png" width="100%" />	
		</div>

		<div id="message" class="font_gl" style="text-align: center; margin-top: 30px">
			<h3>恭喜您领取成功</h3>
			<p>已放入你的包包，请猛击我的福利查看</p>
		</div>

		<a href="javascript:window.location.replace('/my_coupon/type/4/');" style="text-decoration: none">
			<div class="bg_green font_w" 
				style="text-align: center;margin-top: 30px;padding: 10px;width: 70%;margin-left: auto; margin-right: auto;border-radius: 10px">
				我的福利
			</div>
		</a>

		<a href="javascript:window.location.replace('/search_by_taxonomy/?key=money');" style="text-decoration: none">
			<div class="bg_green font_w" 
				style="text-align: center;margin-top: 15px;margin-bottom: 30px; padding: 10px;width: 70%;margin-left: auto; margin-right: auto;border-radius: 10px">
				返&nbsp;&nbsp;回	
			</div>
		</a>
		
	</div>
</div>

<script type="text/javascript">
(function($) {
	// play sound.
	playSound = function(audio_object) {
		document.getElementById(audio_object).play();
		document.addEventListener("WeixinJSBridgeReady", function () {
			WeixinJSBridge.invoke('getNetworkType', {}, function (e) {
				document.getElementById(audio_object).play();
			});
		}, false);
	};

	// initalize.
	lock = false;

	/**
	 * Get coupon action start.
	 */
	// in the same period of time call only 1 time.
	if(!lock) {
		lock = true;
		
		// fetch coupon from server.
		$.ajax({
			type: "GET",
			url: "/coupon/"+location.hash.replace('#','')+"/go/",
			contentType: "application/json; charset=utf-8",
			dataType: "json",
			success: function (data) {
				// Play with returned data in JSON format
				if( data['triumph'] == false ) {
					if( !parseInt( data['times'] )) {
						$('#message h3').text('您的次数已用完');
						$('#message p').text('您可以返回领取其他现金券哟');
					}
					else {
						$('#message h3').text('领取失败');
						$('#message p').text('您可以返回领取其他现金券哟');
					}

					setTimeout( function() {
						// play lose sound.
						playSound('lose_audio');
					}, 300 );
				}
				else {
					setTimeout( function() {
						// play triumph sound.
						playSound('triumph_audio');

						// write triumph information.
						//$('#coupon_image').attr('src', data['image']);
						//$('#coupon_title').text( data['title']);
						//$('#mask, #popup_triumph').fadeIn();
					}, 100 );
				}				

				// when pressed 'on' in popup box
				//lock = false;
			},
			error: function (msg) {
				alert('网络已断开，请检查网络连接');
			}
		});
	}	

})(jQuery);

</script>
{% endblock %}

{% block footer %}
{% endblock %}
