{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
    抢半价（江门站）
{% endblock %}
{% block header-left %}
    <a href="javascript:history.back()" class="font_g"><span class="fa fa-angle-left"></span></a>
{% endblock %}
{% block header-middle %}
    关于抢半价
{% endblock %}
{% block header-right %}
{% endblock %}
{% block middle %}
    <div class="container-fluid">
        <div class="row bg_green" style="text-align: center;padding: 20px 0 30px 0">
            <img src="{% static "images/qiangbanjia_logo.png" %}" style="width:20%;margin: 0px 0 10px 0"/>
            <div class="col-xs-12 font_w" style="font-size: 20px">抢半价 1.5</div>
        </div>
    </div>
{%endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <a href="us">
                <div class="col-xs-12 about_item font_gl">
                    <div class="col-xs-10">公司简介</div>
                    <div class="col-xs-2"><li class="fa fa-angle-right"></li></div>
                </div>
            </a>
            <a href="tel:0750-3400903">
                <div class="col-xs-12 about_item font_gl bg_gray">
                    <div class="col-xs-10">业务合作</div>
                    <div class="col-xs-2"><li class="fa fa-angle-right"></li></div>
                </div>
            </a>
        </div>
    </div>
{% endblock %}
