{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
    抢半价（江门站）
{% endblock %}
{% block header-left %}
    <a href="javascript:history.back()" class="font_g"><span class="fa fa-angle-left"></span></a>
{% endblock %}
{% block header-middle %}
    公司简介
{% endblock %}
{% block header-right %}
{% endblock %}
{% block middle %}
    <div class="container-fluid">
        <div class="row bg_green" style="text-align: center;padding: 20px 0 30px 0">
            <img src="{% static "images/qiangbanjia_logo.png" %}" style="width:20%;margin: 0px 0 10px 0"/>
            <div class="col-xs-12 font_w" style="font-size: 20px">抢半价 1.5</div>
        </div>
    </div>
{%endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row" style="padding: 20px">
            <div class="col-xs-12">
                江门抢半价——江门本地商家终极优惠O2O平台<br><br>
                江门抢半价是一个基于微信公众号运营的江门本地商家终极优惠O2O平台，平台领先践行”优惠+游戏“模式，用户只需关注 江门抢半价 微信公众号，即可通过玩”摇一摇“、”猜一猜“等游戏获取本地商家的终极优惠。<br/><br/>
                优化建议：<br/>
                如果您在平台使用过程中有任何不爽或有任何更好建议，请务必反馈给我们，我们的团队定将认真对待。您的建议一旦被采用，我们将给您送上神秘礼物，并在平台公开表扬。<br/>
                <br/>
                您的反馈与建议是我们成长的宝贵推动力！<br/>
                我们的成功，离不开大家的支持与信赖！
            </div>
        </div>
		<div class="row">
			<a href="tel:0750-3400903">
				<div class="radius_button_lg bg_green font_w">
					<span class="glyphicon glyphicon-earphone"> 联 系 我 们 </span>
				</div>
			</a>
		</div>
    </div>
{% endblock %}
