<!DOCTYPE html>
{% load staticfiles %}
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <title>{% block title %}{% endblock %}</title>
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/common.js' %}?{% now "YmdHis" %}"></script>
	<link rel="stylesheet" href="{% static 'css/css.css' %}?{% now "YmdHis" %}" />
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
</head>
<body>
    <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "//hm.baidu.com/hm.js?ddd28b94cfbfe369dd7fcf5a1677a625";
          var s = document.getElementsByTagName("script")[0];
          s.parentNode.insertBefore(hm, s);
        })();
	</script>
    <!--
    <div class="container-fluid">
        <div class="row header bg_white font_g" style="position:fixed;width:100%;z-index: 199;">
            <div class="col-xs-3" style="font-size:28px; text-align:left;">{% block header-left %}{% endblock %}</div>
            <div class="col-xs-6" style="font-size:18px;line-height: 56px">{% block header-middle %}{% endblock %}</div>
            <div class="col-xs-3" style="font-size:12px;text-align: right">{% block header-right %}{% endblock %}</div>
        </div>
        <div class="blanking" style="height:50px"></div>
    </div>
    -->
        {% block middle %}{% endblock %}
        <script>
            // get server time.
            try {
                server_time = parseFloat('{{ time }}') * 1000;
                local_time  = parseInt( (new Date()).valueOf() );
                deviation = local_time-server_time;
            }
            catch(e) {
                local_time  = parseInt( (new Date()).valueOf() );
                server_time = local_time;
                deviation = 0;
            }
        </script>
        {% block content %}{% endblock %}

        {% block footer %}
			<div class="" style="height:70px"></div>

            <div class="container-fluid bottom_fixed" style="z-index: 11">
                <div class="row footer">
                    <a href="/">
                        <div class="col-xs-3 footer_item">
                            <img src="{% static 'images/zhuye.png' %}">
                            <br>主页
                        </div>
                    </a>
                    <a href="/search_by_taxonomy?key=shake">
                        <div class="col-xs-3 footer_item">
                            <img src="{% static 'images/yaobanjia.png' %}">
                            <br>摇半价
                        </div>
                    </a>
                    <!--
                    <a href="/search_by_taxonomy?key=half_price">
                        <div class="col-xs-3 footer_item">
                            <img src="{% static 'images/banjiatequan.png' %}">
                            <br>半价特权
                        </div>
                    </a>
                    <a href="/search_by_taxonomy?key=free">
                        <div class="col-xs-3 footer_item">
                            <img src="{% static 'images/mianfeifuli.png' %}">
                            <br>免费福利
                        </div>
                    </a>
                    <a href="/search_by_taxonomy?key=money">
                        <div class="col-xs-3 footer_item">
                            <img src="{% static 'images/xianjinquan.png' %}">
                            <br>现金券
                        </div>
                    </a>
                    -->
                    <a href="/search_by_taxonomy?key=lottery">
                        <div class="col-xs-3 footer_item">
                            <img src="{% static 'images/mianfeifuli.png' %}">
                            <br>抽大奖
                        </div>
                    </a>
					<!--<a href="/info_list">
                        <div class="col-xs-3 footer_item">
                            <img src="{% static 'images/zuixinzixun.png' %}">
                            <br>最新资讯
                        </div>
					</a>-->
                    <a href="/center">
                        <div class="col-xs-3 footer_item">
                            <img src="{% static 'images/zuixinzixun.png' %}">
                            <br>我的福利
                        </div>
                    </a>
                </div>
            </div>
            <div class="container-fluid bottom_fixed bg_white" style="height:7%;box-shadow: 1px 1px 14px #CECECE;z-index:10">
                <div class="row footer">
                </div>
            </div>
        {% endblock %}
</body>
</html>
