{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
    抢半价（江门站）
{% endblock %}
{% block header-left %}
    <a href="/" class="font_g"><span class="fa fa-angle-left"></span></a>
{% endblock %}
{% block header-middle %}
    微信卡券列表
{% endblock %}
{% block header-right %}
{% endblock %}
{% block content %}
    <div class="container-fluid">
		{% for card in cards %}
        <div class="row" style="border-bottom: 1px #eeeeee solid;">
			<a href="/info_list/{{card.custom_company.pk}}/?card_id={{card.url_uuid}}&wechat_card_js=1">
                <div class="col-xs-12 about_item font_gl">
					<div class="col-xs-10">{{card.pk}}: {{card.custom_company}} - {{card.title}}</div>
                    <div class="col-xs-2"><li class="fa fa-angle-right"></li></div>
                </div>
            </a>
		</div>
		{% endfor %}
    </div>

{% endblock %}
