{% extends "center_list_base.html" %}
{% load staticfiles %}
{% block center_list_title %}
    我的抽奖
{% endblock %}
{% block center_list_content %}
    {% for coupon_log in coupon_logs %}
    <a href="/my_coupon/{{ coupon_log.id }}">
        <div class="row coupon3">
            <div class="col-xs-12 coupon_shadow" style="height: 100%;width: 96%;margin: auto 2%;padding: 0">
                <div class="col-xs-12 top">
                    <img src="{{MEDIA_URL}}{{ coupon_log.coupon.gallery.galleryPic.first.pic }}" class="" style="width:100%;"/>
                </div>
                <div class="company_logo">
                    <img src="{{MEDIA_URL}}{{ coupon_log.coupon.company.gallery.galleryPic.first.pic }}" class="" style="width:100%;"/>
                </div>
                <div class="center_label" style="margin-top: 70px;z-index: 80">
                    {% if coupon_log.consume_state == "yes" %}
                        <img src="{% static 'images/yishiyong.png' %}" style="width: 30%"/>
                    {% else %}
                        {% if now > coupon_log.coupon.coupon_end_time %}<img src="{% static 'images/yiguoqi.png' %}" style="width: 30%"/>{% endif %}
                    {% endif %}
                </div>
                <div class="col-xs-12 bottom bg_white">
                    <div class="col-xs-7 font_gd font_18" style="height:25px;overflow: hidden">{{ coupon_log.coupon.name }}</div>
                    <div class="col-xs-5 font_gd font_12">价值：<span>{{coupon_log.coupon.label }}</span></div>
                    <div class="col-xs-9 font_gl font_12">有效期：{{ coupon_log.coupon.coupon_start_time | date:"Y-m-d" }} 至 {{ coupon_log.coupon.coupon_end_time | date:"Y-m-d"}}</div>
                    <div class="col-xs-3 font_gl font_12">
                        <div class="bg_red lottery_label">中奖啦</div>
                    </div>
                </div>
            </div>
        </div>
    </a>
    {% endfor %}
    {% for fail_lottery in fail_lotteries %}
    <a href="/coupon/{{ fail_lottery.coupon.id }}">
        <div class="row coupon3">
            <div class="col-xs-12 coupon_shadow" style="height: 100%;width: 96%;margin: auto 2%;padding: 0">
                <div class="col-xs-12 top">
                    <img src="{{MEDIA_URL}}{{ fail_lottery.coupon.gallery.galleryPic.first.pic }}" class="{% if now > fail_lottery.coupon.way_time %}image_gray{% endif %}" style="width:100%;"/>
                </div>
                <div class="company_logo">
                    <img src="{{MEDIA_URL}}{{ fail_lottery.coupon.company.gallery.galleryPic.first.pic }}" class="{% if now > fail_lottery.coupon.way_time %}image_gray{% endif %}" style="width:100%;"/>
                </div>
                <div class="col-xs-12 bottom bg_white">
                    <div class="col-xs-7 font_gd font_18" style="height:25px;overflow: hidden">{{ fail_lottery.coupon.name }}</div>
                    <div class="col-xs-5 font_gd font_12">价值：
                        <span style="{% if now > fail_lottery.coupon.way_time %}color: #2a2a2a;{% endif %}">{{fail_lottery.coupon.label }}</span>
                    </div>
                    <div class="col-xs-6 font_gl font_12">
                        {% if now < fail_lottery.coupon.way_time %}
                            开奖日期：{{ fail_lottery.coupon.way_time | date:"Y-m-d" }}
                        {% endif %}
                    </div>
                    {% if now > fail_lottery.coupon.way_time %}
                        <div class="col-xs-6 font_gl font_12">
                            <div class="bg_gray_dark lottery_label">很遗憾未中奖</div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </a>
    {% endfor %}
{% endblock %}
