{% extends "center_list_base.html" %}
{% load staticfiles %}
{% block center_list_title %}
    我的现金券
{% endblock %}
{% block center_list_content %}
        {% for coupon_log in coupon_logs %}
        <a href="/my_coupon/{{ coupon_log.id }}">
            <div class="row coupon2 bg_white" style="height: 70px">
                <div class="col-xs-12 coupon_shadow" style="height: 100%;width: 96%;margin: auto 2%;padding: 0">
                    <div class="col-xs-9 left" style="height: 100%;">
                        <div class="col-xs-12 top">
                            <div class="col-xs-3 image">
                                <img src="{{MEDIA_URL}}{{ coupon_log.coupon.company.gallery.galleryPic.first.pic }}" width="100%"/>
                            </div>
                            <div class="col-xs-9 text">
                                <div class="font_gd font_14" style="margin-bottom: 4px">
                                    {% if coupon_log.consume_state == "yes" %}
                                        <div class="state" style="background-color: #DC4144">已使用</div>
                                    {% elif now > coupon_log.coupon.coupon_end_time%}
                                        <div class="state" style="background-color: #70706f">已过期</div>
                                    {% endif %}
                                    {{ coupon_log.coupon.company.name }}
                                </div>
                                <div class="font_gl font_9">有效期:{{ coupon_log.coupon.coupon_start_time | date:"Y.m.d"}}-{{ coupon_log.coupon.coupon_end_time | date:"Y.m.d"}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3 right" style="padding:10px 0;
                            {% if coupon_log.consume_state == "yes"%}
                                background-image: url('{% static  'images/border_r_r.png'%}'), -webkit-gradient(linear, left top, left bottom, color-stop(0, #dc4144), color-stop(1, #d1242d))
                            {% elif now > coupon_log.coupon.coupon_end_time%}
                                background-image: url('{% static  'images/border_r_b.png'%}'), -webkit-gradient(linear, left top, left bottom, color-stop(0, #70706f), color-stop(1, #4c4c4c))
                            {% else %}
                                background-image: url('{% static  'images/border_r_g.png'%}'), -webkit-gradient(linear, left top, left bottom, color-stop(0, #86c12d), color-stop(1, #75ad15))
                            {% endif %}
                    ">
                        <div class="font_w top">{{ coupon_log.coupon.label }}</div>
                        <div class="font_w middle">满{{ coupon_log.coupon.original_price }}使用</div>
                    </div>
                </div>
            </div>
        </a>
    {% endfor %}
{% endblock %}
