{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
    抢半价（江门站）
{% endblock %}
{% block header-left %}
    <a href="/" class="font_g"><span class="fa fa-angle-left"></span></a>
{% endblock %}
{% block header-middle %}
    我的优惠券
{% endblock %}
{% block header-right %}
{% endblock %}
{% block middle %}
    <div class="container-fluid bg_center">
        <div class="row center">
            <div class="col-xs-12">
                <img src="{{ member.head_image_url }}"/>
            </div>
            <div id="nickname" class="col-xs-12 font_w" style="font-size: 14px">{{ member.nickname }}</div>
        </div>
        <div class="row buttons border_b font_g">
            <a href="/about_us"><div class="col-xs-6"><img src="{% static 'images/guanyuwomen.png' %}"/><lf>关 于</lf></div></a>
            <a href="/safeguard"><div class="col-xs-6"><img src="{% static 'images/weiquan.png' %}"/><lf>维 权</lf></div></a>
        </div>
    </div>

{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row my_coupons_list ">
            {% if not coupon_logs %}
                <div class="font_gl" style="text-align: center;margin-top: 30px">
                    你暂时没有抢到任何特权
                </div>
                <a href="#" style="text-decoration: none">
                    <div class="bg_green font_w" style="text-align: center;margin-top: 30px;padding: 10px;width: 40%;margin-left: 30%;border-radius: 10px">
                        5 月 再 逛
                    </div>
                </a>
            {% endif %}
            {% for coupon_log in coupon_logs %}
            <a href="/my_coupon/{{ coupon_log.id }}">
                <div class="item col-xs-12">
                    <div class="company_info col-xs-12 font_w" style="background-image: url('{% static 'images/line.png' %}'), -webkit-gradient(linear, left top, left bottom, color-stop(0, {{ coupon_log.coupon.color_start }}), color-stop(1, {{ coupon_log.coupon.color_end }})) ; /* Saf4+, Chrome */">
                        <img src="{{MEDIA_URL}}{{ coupon_log.coupon.company.gallery.galleryPic.first.pic }}"/>
                        <div class="company_name">{{ coupon_log.coupon.company.name }}</div>
                    </div>
                    <div class="center_label">
                        {% if coupon_log.consume_state == "yes" %}
                            <img src="{% static 'images/yishiyong.png' %}"/>
                        {% else %}
                            {% if now > coupon_log.coupon.coupon_end_time %}<img src="{% static 'images/yiguoqi.png' %}"/>{% endif %}
                        {% endif %}
                    </div>
                    <div class="info col-xs-12">
                        <div class="font_gd name">{{ coupon_log.coupon.name }}</div>
                        <div class="font_gl time">有效期: {{ coupon_log.coupon.coupon_start_time | date:"Y-m-d" }} 至 {{ coupon_log.coupon.coupon_end_time | date:"Y-m-d"}}</div>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>

{% endblock %}
