{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
    抢半价（江门站）
{% endblock %}
{% block header-left %}
    <a href="/" class="font_g"><span class="fa fa-angle-left"></span></a>
{% endblock %}
{% block header-middle %}
    我的优惠券
{% endblock %}
{% block header-right %}
{% endblock %}
{% block middle %}
    <div class="container-fluid bg_center">
        <div class="row center">
            <div class="col-xs-12">
                <img src="{{ member.head_image_url }}" id='headimg' />
            </div>
            <div id="nickname" class="col-xs-12 font_w" style="font-size: 14px">{{ member.nickname }}</div>
        </div>
        <div class="row buttons border_b font_g">
            <a href="/about_us"><div class="col-xs-6"><img src="{% static 'images/guanyuwomen.png' %}"/><lf>关 于</lf></div></a>
            <a href="/safeguard"><div class="col-xs-6"><img src="{% static 'images/weiquan.png' %}"/><lf>维 权</lf></div></a>
        </div>
    </div>

{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <a href="/my_coupon/type/1">
                <div class="col-xs-12 about_item font_gl">
                    <div class="col-xs-10">我的免费券</div>
                    <div class="col-xs-2"><li class="fa fa-angle-right"></li></div>
                </div>
            </a>
            <a href="/my_coupon/type/2">
                <div class="col-xs-12 about_item font_gl bg_gray">
                    <div class="col-xs-10">我的折扣券</div>
                    <div class="col-xs-2"><li class="fa fa-angle-right"></li></div>
                </div>
            </a>
            <a href="/my_coupon/type/4">
                <div class="col-xs-12 about_item font_gl">
                    <div class="col-xs-10">我的现金券</div>
                    <div class="col-xs-2"><li class="fa fa-angle-right"></li></div>
                </div>
            </a>
            <a href="/my_lotteries/5/">
                <div class="col-xs-12 about_item font_gl bg_gray">
                    <div class="col-xs-10">我的抽奖</div>
                    <div class="col-xs-2"><li class="fa fa-angle-right"></li></div>
                </div>
            </a>
			{% if member.is_staff %}
            <a href="/cardpack/get_all_cards/">
                <div class="col-xs-12 about_item font_gl">
					<div class="col-xs-10"><span style="color: red">派发微信卡券(管理员)</span></div>
                    <div class="col-xs-2"><li class="fa fa-angle-right"></li></div>
                </div>
			</a>
			{% endif %}
        </div>

		<div class="row">
			<a id="logout" href="#" style="text-decoration: none">
                    <div class="font_w" style="background-color: #EB4646; text-align: center;margin-top: 30px;padding: 10px;width: 60%;margin-left: 20%;border-radius: 10px">登 出</div>
			</a>  
  		</div>


    </div>

{% endblock %}
