{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
    抢半价（江门站）
{% endblock %}
{% block header-left %}
    <a href="/" class="font_g"><span class="fa fa-angle-left"></span></a>
{% endblock %}
{% block header-middle %}
    我的优惠券
{% endblock %}
{% block header-right %}
{% endblock %}
{% block middle %}
    <div class="container-fluid">
        <div class="row center_list">
            <div class="col-xs-12">
                {% block center_list_title %}{% endblock %}
            </div>
        </div>
        <div style="height:40px"></div>
    </div>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row my_coupons_list ">
            {% if not coupon_logs %}
                <div class="font_gl" style="text-align: center;margin-top: 30px">
                    你暂时没有抢到任何特权
                </div>
                <a href="/" style="text-decoration: none">
					<div class="bg_green font_w" 
						style="text-align: center;margin-top: 30px;padding: 10px;width: 40%;margin-left: 30%;border-radius: 10px">
						{{now|date:'F'}}福利
                    </div>
                </a>
            {% endif %}
        </div>
        {% block center_list_content %}{% endblock %}
    </div>

{% endblock %}
