{% extends "center_list_base.html" %}
{% load staticfiles %}
{% block center_list_title %}
    我的折扣券
{% endblock %}
{% block center_list_content %}
    <div class="row my_coupons_list ">
        {% for coupon_log in coupon_logs %}
        <a href="/my_coupon/{{ coupon_log.id }}">
            <div class="item col-xs-12">
                <div class="company_info col-xs-12 font_w" style="background-image: url('{% static 'images/line.png' %}'), -webkit-gradient(linear, left top, left bottom, color-stop(0, {{ coupon_log.coupon.color_start }}), color-stop(1, {{ coupon_log.coupon.color_end }})) ; /* Saf4+, Chrome */">
                    <img src="{{MEDIA_URL}}{{ coupon_log.coupon.company.gallery.galleryPic.first.pic }}"/>
                    <div class="company_name">{{ coupon_log.coupon.company.name }}</div>
                </div>
                <div class="center_label">
                    {% if coupon_log.consume_state == "yes" %}
                        <img src="{% static 'images/yishiyong.png' %}"/>
                    {% else %}
                        {% if now > coupon_log.coupon.coupon_end_time %}<img src="{% static 'images/yiguoqi.png' %}"/>{% endif %}
                    {% endif %}
                </div>
                <div class="info col-xs-12">
                    <div class="font_gd name">{{ coupon_log.coupon.name }}</div>
                    <div class="font_gl time">有效期: {{ coupon_log.coupon.coupon_start_time | date:"Y-m-d" }} 至 {{ coupon_log.coupon.coupon_end_time | date:"Y-m-d"}}</div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
{% endblock %}
