{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
    抢半价（江门站）
{% endblock %}
{% block header-left %}
    <a href="/company_center/setting/" class="font_g"><span class="fa fa-angle-left"></span></a>
{% endblock %}
{% block header-middle %}
    修改密码
{% endblock %}
{% block header-right %}
{% endblock %}
{% block middle %}
{% endblock %}
{% block content %}
    <script>
        $(function(){
            setTimeout(function(){$(".spark").animate({opacity:'toggle'}, {duration:"slow"})}, 2000);
        });
    </script>
    <div class="container-fluid border_t">
        <a href="javascript:history.back()">
            <span class="fa-stack fa-lg" style="position: absolute; top:10px; left: 20px;">
              <i class="fa fa-circle fa-stack-2x" style="color: #86c12d"></i>
              <i class="fa fa-arrow-left fa-stack-1x fa-inverse"></i>
            </span>
        </a>
        <div class="row" style="margin-top:20px; height: 40px;">
            {% if error %}
            <div class="bg_black spark font_w" style="text-align:center;width:50%;margin-left: 25%;padding: 10px; font-size: 14px;border-radius: 10px;">
                {{ error }}
            </div>
            {% endif %}
        </div>
        <div class="row" style="margin-top: 30px;">
            <form action="/company_center/setting/change_password/" method="post">
				{% csrf_token %}
                <div class="col-xs-4 input_name login">
                    <div class="name bg_green font_w" style="width:60%; margin-left: 40%;">
                        原密码
                    </div>
                </div>
                <div class="col-xs-8 input_text login">
                    <input type='password' name="password_org" style="width:80%">
                </div>
                <div class="col-xs-4 input_name login">
                    <div class="name bg_green font_w" style="width:60%; margin-left: 40%;">
                        新密码
                    </div>
                </div>
                <div class="col-xs-8 input_text login">
                    <input type='password' name="password" style="width:80%">
                </div>
                <div class="col-xs-4 input_name login">
                    <div class="name bg_green font_w" style="width:60%; margin-left: 40%;">
                        重复密码
                    </div>
                </div>
                <div class="col-xs-8 input_text login">
                    <input type='password' name="password_again" style="width:80%">
                </div>
                <div class="col-xs-12">
                    <input type='submit' value="确&nbsp;&nbsp;&nbsp;认" class="input_button bg_green font_w" onclick="return confirm('修改密码后，需要重新登陆。')" style="width:80%;margin:20px 10%">
                </div>
            </form>
        </div>

    </div>
{% endblock %}
{% block footer %}{% endblock %}