{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
    抢半价（江门站）
{% endblock %}
{% block header-left %}
    <a href="/company_center/" class="font_g"><span class="fa fa-angle-left" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"></span></a>
{% endblock %}
{% block header-middle %}
    消费优惠券
{% endblock %}
{% block header-right %}
{% endblock %}
{% block middle %}
    {% if not errors %}
    <div class="container-fluid" style="border-radius: 0 0 10px 10px;box-shadow: 1px 1px 5px #cecece; margin-bottom: 18px;padding-bottom: 6px">
        <div class="row coupon3" style="margin-bottom: 0">
            <div class="col-xs-12" style="height: 100%;padding: 0;">
                <div class="col-xs-12 top">
                    <img src="{{MEDIA_URL}}{{ coupon_log.coupon.gallery.galleryPic.all.1.pic }}" class="" style="width:100%;"/>
                </div>
                <div class="company_logo">
                    <img src="{{MEDIA_URL}}{{ coupon_log.coupon.company.gallery.galleryPic.first.pic }}" class="" style="width:100%;"/>
                </div>
                <div class="col-xs-12 bottom bg_white" style="height: 60px">
                    <div class="col-xs-7 font_gd font_18" style="height:25px;overflow: hidden">{{ coupon_log.coupon.name }}</div>
                    <div class="col-xs-5 font_gd font_12">价值：<span>{{coupon_log.coupon.label }}</span></div>
                    <div class="col-xs-12 time_my_coupon">有效期: {{ coupon_log.coupon.coupon_end_time | date:"Y-m-d" }} 至 {{ coupon_log.coupon.coupon_end_time | date:"Y-m-d"}}</div>
                </div>
                <div class="center_label_my_coupon">
                {% if coupon_log.consume_state == "yes" %}
                    <img src="{% static 'images/yishiyong.png' %}"/>
                {% else %}
                    {% if expire == "True" %}<img src="{% static 'images/yiguoqi.png' %}"/>{% endif %}
                {% endif %}
            </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}
{% block content %}
    <div class="container-fluid">
        {% if errors %}
            <div class="row">
                <img src="{% static 'images/pig.png' %}" style="width:40%;margin:30px 30% 10px 30%"/>
            </div>
            <div class="row font_g" style="text-align: center; font-size: 30px;margin-bottom:10px ">
                {{ consume_code }}
            </div>
            <div class="row center">
                咦～什么也没有！<br>
                请核对您输入的消费码是否正确？<br>
                或者这个消费码是其他店铺的哦～<br>
            </div>
            <div class="row">
                <a href="/company_center">
                    <div class="bg_green font_w" style="width:40%;border-radius: 20px;text-align: center;height:30px;line-height:30px;margin:10px 30%; ">返 回</div>
                </a>
            </div>
        {% else %}
            <div class="row consume_code">
                <div class="title" style="font-size: 30px;margin-bottom: 2px">
                    {% if coupon_log.consume_state == "yes" %}
                    <font style="text-decoration:line-through" class="font_r">&nbsp;
                    {% endif %}
                        <consume_code style="color:{{ coupon_log.coupon.color_end }}">{{ coupon_log.consume_code }}</consume_code>
                    {% if coupon_log.consume_state == "yes" %}
                    &nbsp;</font>
                    {% endif %}
                </div>
                <div class="font_gl" style="font-size: 16px; text-align: center;margin-bottom: 26px">福利消费码</div>
            </div>
            {% if coupon_log.consume_state == "yes" %}
            <div class="row bg_red win_list font_w">
                使用日期：{{ coupon_log.consume_date }}
            </div>
            {% endif %}
            <div class="row rule bg_gray">
                <div class="title">使用说明</div>
                <div class="detail_info">
                    {{ coupon_log.coupon.rule | safe }}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
{% block footer %}
    <div style="height:40px"></div>
    {% if coupon_log.consume_state != "yes" and expire != "True" %}
        <a href="consume?coupon_log_id={{ coupon_log.id }}" onclick="return confirm('消费后无法恢复,确定要消费吗')">
            <div class="container-fluid win_list bg_red font_w bottom_fixed">确认消费</div>
        </a>
    {% endif %}
{% endblock %}