{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
    抢半价（江门站）
{% endblock %}
{% block header-left %}
    <a href="javascript:history.back()" class="font_g"><span class="fa fa-angle-left" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"></span></a>
{% endblock %}
{% block header-middle %}
    商家详情
{% endblock %}
{% block header-right %}
    <a href="/center"><div style="color:#86c21d; height: 24px;margin-top: 12px;line-height: 24px;">我的优惠</div></a>
{% endblock %}
{% block middle %}

{% endblock %}
{% block content %}
	<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
	<script type="text/javascript">
	{% if user.is_staff %}
    if(location.search.match(/^.+\&sales\=.+$/)) {	
		sales_partten = '';
	}
	else { 
		sales_id = prompt('请输入业务员ID');
		sales_partten = '&sales='+sales_id;
	}
	{% endif %}

	wx.config({
		debug: false,
		appId: '{{jsapi_config.appid}}',
		timestamp: {{jsapi_config.timestamp}}, 
		nonceStr: '{{jsapi_config.noncestr}}', 
		signature: '{{jsapi_config.signature}}',
		jsApiList: ['onMenuShareTimeline', 'onMenuShareAppMessage','batchAddCard', 'addCard',]
	});

	wx.ready(function () {
		wx.onMenuShareTimeline({
			title: '{{card.company}} - {{card.card_name}}', // 分享标题
			link: location.href {% if user.is_staff %}+sales_partten{% endif %}, // 分享链接
			imgUrl: '{{card.logo_url}}', // 分享图标
			success: function () { 
				// 用户确认分享后执行的回调函数
			},
			cancel: function () { 
				// 用户取消分享后执行的回调函数
			}
		});
		wx.onMenuShareAppMessage({
			title: '{{card.company}} - {{card.card_name}}', // 分享标题
			desc: '{{card.card_description}}', // 分享描述
			link: location.href {% if user.is_staff %}+sales_partten{% endif %}, // 分享链接
			imgUrl: '{{card.logo_url}}', // 分享图标
			type: '', // 分享类型,music、video或link，不填默认为link
			dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
			success: function () { 
				// 用户确认分享后执行的回调函数
			},
			cancel: function () { 
				// 用户取消分享后执行的回调函数
			}
		});
	});
	
	$(function() {
		/*
		// batch add card to sb wx cardpack.
		// 0. work in iOS.
		// 1. it's deprecated in android(fuck!)
		var readyFunc = function onBridgeReady() { 
			document.querySelector('#batchAddCard').addEventListener('click', function(e) {
				WeixinJSBridge.invoke('batchAddCard', 
				{ "card_list": [
					{
						"card_id": "{{card.card_id}}", 
						"card_ext": "{\"code\":\"\",\"openid\":\"\",\"timestamp\":\"{{card.timestamp}}\",\"signature\":\"{{card.signature}}\"}"
					}, ]
				}, function(res) { 
					$.ajax({url:"/cardpack/set_log/?uuid={{card.url_uuid}}&action="+res.err_msg, async:false});
					alert(res.err_msg + "  _  " + res.card_list); 
				}); 
			}); 
		}
		if (typeof WeixinJSBridge === "undefined") { 
			document.addEventListener('WeixinJSBridgeReady', readyFunc, false); 
		} 
		else { 
			readyFunc(); 
		}
		*/
		
		// single add card to sb wx cardpack.
		//   work in both platform. 
		document.querySelector('#batchAddCard').onclick = function () {
			wx.addCard({
			  	cardList: [{
				  	cardId: '{{card.card_id}}',
				  	cardExt: "{\"code\":\"\",\"openid\":\"\",\"timestamp\":\"{{card.timestamp}}\",\"signature\":\"{{card.signature}}\"}"  
				}],
			  	success: function (res) {
					$.ajax({url:"/cardpack/set_log/?uuid={{card.url_uuid}}&action="+'add_card:ok', async:false});
					var cardList = res.cardList;
			  	},
				cancel: function (res) {
					//alert('Cancelled.');
				},
				fail: function (res) {
					//alert(JSON.stringify(res));
				}
			});
		};

	});
	</script>

    <div class="container-fluid">
        <div class="row company" style="/*margin-bottom:20px; box-shadow: 1px 1px 30px #000000;*/ background: -webkit-gradient(linear, left top, left bottom, color-stop(0, {{ company.color_start }}), color-stop(1, {{ company.color_end }})) ; /* Saf4+, Chrome */">
            <div class="col-xs-12" style="margin-top: 30px">
                <img src="{{MEDIA_URL}}{{ company.gallery.galleryPic.first.pic }}" class="image" style="border-radius: 50%"/>
            </div>
            <div class="col-xs-12 font_w name" style="margin-bottom: 10px">
                {{ company.name }}
            </div>
            <div class="info font_w">
                {{ company.info | safe}}
            </div>
        </div>
        <div class="row company">
            <div class="contact">
                <a href="tel:{{ company.tel }}" style="text-decoration: none">
                    <div class="col-xs-12 bg_gray font_gd">
                        <div class="detail_title col-xs-2"><img src="{% static 'images/tel.png' %}"/></div>
                        <div class="detail_title col-xs-8" style="padding-left:0;padding-right: 0;"><div class="tel contact_item font_gd">电话: {{ company.tel }}</div></div>
						<div class="detail_arrow col-xs-2"><i class="fa fa-chevron-right"></i></div>
                    </div>
                </a>
                <div class="col-xs-12">
                    <div class="detail_title col-xs-2"><img src="{% static 'images/site.png' %}"/></div>
					<div class="detail_title col-xs-8" style="padding-left:0;padding-right: 0;"><div class="address contact_item">地址:<a href="http://apis.map.qq.com/uri/v1/marker?marker=coord:{{company.gps}};title:{{company.name}};addr:{{ company.address }}" style="color:{{ company.color_end }}"> {{ company.address }}</a></div></div>
                    <div class="detail_arrow col-xs-2"><i class="fa fa-chevron-right"></i></div>
                </div>
            </div>
            <div class="detail_info">
                {{ company.detail_info | safe}}
            </div>
        </div>

		<div class="row company" style="/*margin-bottom:20px; box-shadow: 1px 1px 30px #000000;*/ background-image: url('/static/images/line.png'),-webkit-gradient(linear, left top, left bottom, color-stop(0, {{ card.color }}), color-stop(1, {{ card.color }})); /* Saf4+, Chrome */background-repeat: no-repeat; background-position: 0 101%, 50%; background-size: 100%,cover;">
            <div class="col-xs-12" style="margin-top: 30px">
				<img src="{{MEDIA_URL}}{{ company.gallery.galleryPic.first.pic }}" class="image" style="border-radius: 50%"/>
            </div>
            <div class="col-xs-12 font_w name" style="margin-bottom: 10px">
                {{ card.card_name }}
            </div>
            <div class="info font_w">
                {{ card.card_description | safe}}
            </div>
        </div>
		<div class="row">
			<a id="batchAddCard" href="javascript:void(0);" style="text-decoration: none">
				<div class="font_w" style="background-color: {{card.color}}; text-align: center;margin-top: 20px;padding: 10px;width: 60%;margin-left: 20%; margin-bottom: 20px; border-radius: 10px">领取福利</div>
			</a>  
		</div>

		<div class="row">	
			<div class="col-xs-9">已有{{logs.count}}人领取了优惠券</div>
		</div>

		{% for log in logs %}
		<div class="row" style="margin-top: 10px;padding-top: 10px;border-top: 1px #f4f4f4 solid; display: -webkit-box; -webkit-box-align: center;">
			<div class="col-xs-3" style="text-align: center;"><img src="{{log.user.head_image_url}}" style=" border-radius: 50%; width: 90%;"/> </div>
			<div class="col-xs-9"><b>{{log.user.nickname}}</b> 领取了 <b style='color: {{log.wechatcard.color}};'>{{log.wechatcard.title}}</b></div>
		</div>
		{% endfor %}
    </div>

	
{% endblock %}

{% block footer %}{% endblock %}
