{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
    抢半价（江门站）
{% endblock %}
{% block header-left %}
{% endblock %}
{% block header-middle %}
    抢半价
{% endblock %}
{% block header-right %}
    <a href="setting" class="font_g"><img src="{% static 'images/shezhi.png' %}" style="width:34%;"/></a>
{% endblock %}
{% block middle %}
    <div class="container-fluid">
        <a href="setting">
            <span class="fa-stack fa-lg" style="position: absolute; top:10px; left: 20px;">
              <i class="fa fa-circle fa-stack-2x" style="color: #ffffff"></i>
              <i class="fa fa-cog fa-stack-1x fa-inverse" style="color:{{ company.color_end }}"></i>
            </span>
        </a>

        <div class="row center" style="background: -webkit-gradient(linear, left top, left bottom, color-stop(0, {{ company.color_start }}), color-stop(1, {{ company.color_end }})) ; /* Saf4+, Chrome */">
            <div class="font_w" style="font-size: 22px;margin-top: 26px;height:40px;line-height: 40px;">{{ company.name }}</div>
            <div class="col-xs-4 input_code">
                <input type="number" class="_3in1" name="number1" maxlength="4"/>
            </div>
            <div class="col-xs-4 input_code">
                <input type="number" class="_3in1" name="number2" maxlength="4"/>
            </div>
            <div class="col-xs-4 input_code">
                <input type="number" class="_3in1" name="number3" maxlength="4"/>
            </div>
            <form action="/company_center/" method="post">
				{% csrf_token %}
                <input type="number" name="consume_code" style=""/>
                <div class="col-xs-12 font_w" style="text-align: right;margin-bottom: 10px">
                    输入福利消费码
                </div>
                <div class="col-xs-12 input_code_button">
                    <input type="submit" value="消&nbsp;&nbsp;&nbsp;费" class="bg_white" style="color:{{ company.color_end }};margin-bottom: 10px"/>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
{% block content %}
    <div class="container-fluid">
    {% for coupon in coupons %}
        {% if coupon.coupon_type.id == 1 or coupon.coupon_type.id == 2%}
        <a href="{{ coupon.id }}">
        <div class="row my_coupons_list " style="margin-top: 10px;margin-bottom: 0px">
            <div class="col-xs-12" style="padding:0px">
                <div class="item" style="margin-bottom: 0">
                    <!--
                    <div class="center_label">
                        {% if coupon.total_count <= coupon.used_count %}
                            <img src="{% static 'images/yiwangcheng.png' %}" style="width: 23%"/>
                        {% else %}
                            {% if now > coupon.coupon_end_time %}<img src="{% static 'images/yiguoqi.png' %}" style="width: 23%"/>{% endif %}
                        {% endif %}
                    </div>
                    -->
                    {% if not coupon.company_check %}
                        <div class="label_center">待确认</div>
                    {% endif %}
                    <div class="bg_line" style="padding:14px; border-radius:10px 10px 0 0; background-image: url('{% static 'images/line.png' %}'), -webkit-gradient(linear, left top, left bottom, color-stop(0, {{ coupon.color_start }}), color-stop(1, {{ coupon.color_end }})) ; /* Saf4+, Chrome */">
                        <img src="{{MEDIA_URL}}{{ coupon.company.gallery.galleryPic.first.pic }}" style="border-radius:50%"/>
                    </div>
                    <div class="info">
                        <div class="font_gd name">{{ coupon.name }}</div>
                        <div class="font_gl time" style="margin-bottom: 0">有效期: {{ coupon.coupon_start_time | date:"Y-m-d" }} 至 {{ coupon.coupon_end_time | date:"Y-m-d"}}</div>
                        <div class="font_gl count">发放: {{ coupon.total_count }} / 领取: {{ coupon.received_count }} / 已用: {{ coupon.used_count }}</div>
                    </div>
                </div>
            </div>
        </div>
        </a>
        {% elif coupon.coupon_type.id == 5 %}
        <a href="{{ coupon.id }}">
        <div class="row coupon3" style="margin-top: 10px; margin-bottom: 0px">
            <div class="col-xs-12 coupon_shadow" style="height: 100%;width: 96%;margin: auto 2%;padding: 0">
                <div class="col-xs-12 top">
                    <img src="{{MEDIA_URL}}{{ coupon.gallery.galleryPic.first.pic }}" class="" style="width:100%;"/>
                </div>
                <div class="company_logo">
                    <img src="{{MEDIA_URL}}{{ coupon.company.gallery.galleryPic.first.pic }}" class="" style="width:100%;"/>
                </div>
                <!--
                <div class="center_label" style="margin-top: 70px;z-index: 80">
                    {% if coupon.total_count <= coupon.used_count %}
                        <img src="{% static 'images/yiwangcheng.png' %}" style="width:23%;"/>
                    {% else %}
                        {% if now > coupon.coupon_end_time %}<img src="{% static 'images/yiguoqi.png' %}" style="width:23%"/>{% endif %}
                    {% endif %}
                </div>
                -->
                <div class="col-xs-12 bottom bg_white" style="height: 75px">
                    <div class="col-xs-7 font_gd font_18" style="height:25px;overflow: hidden">{{ coupon.name }}</div>
                    <div class="col-xs-5 font_gd font_12">价值：<span>{{coupon.label }}</span></div>
                    <div class="col-xs-12 font_gl font_14" style="text-align: center">有效期：{{ coupon.coupon_start_time | date:"Y-m-d" }} 至 {{ coupon.coupon_end_time | date:"Y-m-d"}}</div>
                    <div class="col-xs-12 font_gl font_14" style="text-align: center">发放:{{ coupon.total_count }}/领取:{{coupon.received_count }}/已用:{{coupon.used_count }}</div>
                </div>
            </div>
        </div>
        </a>
        {% elif coupon.coupon_type.id == 4 %}
        <a href="{{ coupon.id }}">
            <div class="row coupon2 bg_white" style="height: 110px;margin: 10px 0 0 0">
                <div class="col-xs-12 coupon_shadow" style="height: 100%;padding: 0">
                    <div class="col-xs-9 left" style="height: 100%; text-align: center; padding:2px 0">
                        <div class="col-xs-12 top">
                            <div class="col-xs-12 text">
                                <div class="font_gl font_16">{{ coupon.name }}</div>
                                <div class="font_gl font_16">{{ coupon.label }}-满{{ coupon.original_price }}使用</div>
                                <div class="font_gl font_14" style="padding: 0">发放:{{ coupon.total_count }}/领取:{{coupon.received_count }}/已用:{{coupon.used_count }}</div>
                                <div class="font_gl font_10" style="padding: 0">有效期:{{ coupon.coupon_start_time | date:"Y.m.d"}}-{{ coupon.coupon_end_time | date:"Y.m.d"}}</div>

                            </div>
                        </div>
                    </div>
                    <!--
                    <div class="col-xs-3 right" style="padding:20px 0;

                            {% if coupon.total_count < coupon.used_count %}
                                background-image: url('{% static  'images/border_r_r.png'%}'), -webkit-gradient(linear, left top, left bottom, color-stop(0, #dc4144), color-stop(1, #d1242d));
                            {% elif now > coupon.coupon_end_time %}
                                background-image: url('{% static  'images/border_r_b.png'%}'), -webkit-gradient(linear, left top, left bottom, color-stop(0, #70706f), color-stop(1, #4c4c4c));
                            {% else %}
                                background-image: url('{% static  'images/border_r_g.png'%}'), -webkit-gradient(linear, left top, left bottom, color-stop(0, #86c12d), color-stop(1, #75ad15));
                            {% endif %}
                    ">
                    -->

                    <div class="col-xs-3 right" style="padding:20px 0;background-image: url('{% static  'images/border_r_g.png'%}'), -webkit-gradient(linear, left top, left bottom, color-stop(0, #86c12d), color-stop(1, #75ad15));">
                        <div class="font_w top">{{ coupon.label }}</div>
                        {% if coupon.total_count < coupon.used_count %}
                            <div class="font_w middle" style="font-size: 20px">已完成</div>
                        {% elif now > coupon.coupon_end_time%}
                            <div class="font_w middle" style="font-size: 20px">已过期</div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </a>
        {% else %}
        无匹配样式，请添加新样式。
        {% endif %}
    {% endfor %}
    </div>

{% endblock %}
{% block footer %}
{% endblock %}