{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
    抢半价（江门站）
{% endblock %}
{% block header-left %}

{% endblock %}
{% block header-middle %}

{% endblock %}
{% block header-right %}

{% endblock %}
{% block middle %}
    <script>
        $(function(){
            setTimeout(function(){$(".spark").animate({opacity:'toggle'}, {duration:"slow"})}, 2000);
        });
    </script>
    <div class="container-fluid">
        <div class="row">
            <img src="{% static 'images/qiangbanjia_logo2.png' %}" style="width: 24%;margin-left:38%;margin-top: 40px">
        </div>
        <div class="row font_g" style="text-align: center;margin: 10px 0 10px 0; font-size: 18px;">
            抢半价商家客户端
        </div>
        <div class="row" style="margin-bottom:10px; height: 40px;">
            {% if error %}
            <div class="bg_black spark font_w" style="text-align:center;width:50%;margin-left: 25%;padding: 10px; font-size: 14px;border-radius: 10px;">
                {{ error }}
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <form action="/company_login/" method="post">
				{% csrf_token %}
                <div class="col-xs-4 input_name login">
                    <div class="name bg_green font_w">
                        账 号
                    </div>
                </div>
                <div class="col-xs-8 input_text login">
                    <input type='text' placeholder="" name="account">
                </div>
                <div class="col-xs-4 input_name login">
                    <div class="name bg_green font_w">
                        密 码
                    </div>
                </div>
                <div class="col-xs-8 input_text login">
                    <input type='password' placeholder="" name="password">
                </div>
                <div class="col-xs-12">
                    <input type='submit' placeholder="Login" value="登&nbsp;&nbsp;&nbsp;陆" class="input_button bg_green font_w">
                </div>
			</form>
            <div class="col-xs-12">
                <a href="tel:0750-3400903" onclick="return confirm('联系客服，找回密码？')" style="text-decoration: none"><div class="font_gd"style="width:64%;text-align: right;margin-left: 18%;">忘记密码？</div></a>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
{% endblock %}

