{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
    抢半价（江门站）
{% endblock %}
{% block header-left %}
    <a href="/company_center" class="font_g"><span class="fa fa-angle-left" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"></span></a>
{% endblock %}
{% block header-middle %}
    优惠券详情
{% endblock %}
{% block header-right %}
{% endblock %}
{% block middle %}
    <div class="container-fluid" style="border-radius: 0 0 10px 10px;box-shadow: 1px 1px 5px #cecece; padding-bottom:6px; margin-bottom: 18px;">
        <a href="javascript:history.back()">
            <span class="fa-stack fa-lg" style="position: absolute; top:10px; left: 20px;">
              <i class="fa fa-circle fa-stack-2x" style="color:white"></i>
              <i class="fa fa-arrow-left fa-stack-1x fa-inverse" style="color:{{ coupon.company.color_end }}"></i>
            </span>
        </a>
        <!--
        <div class="center_label_my_coupon">
                {% if coupon.total_count <= coupon.used_count %}
                    <img src="{% static 'images/yiwangcheng.png' %}"/>
                {% else %}
                    {% if expire == "True" %}<img src="{% static 'images/yiguoqi.png' %}"/>{% endif %}
                {% endif %}
            </div>
            -->
        <div class="row coupon font_w bg_line" style="margin-bottom: 0px;background-image: url('{% static 'images/line.png' %}'), -webkit-gradient(linear, left top, left bottom, color-stop(0, {{ coupon.color_start }}), color-stop(1, {{ coupon.color_end }})) ; /* Saf4+, Chrome */">
            <img src="{{MEDIA_URL}}{{ coupon.company.gallery.galleryPic.first.pic }}" class="image_detail"/>
            <div class="company_name_detail">{{ coupon.company.name }}</div>
			<div class="time_detail font_w">
			</div>

        </div>
        <div class="row bottom bg_white">
            <div class="info">
                <div class="col-xs-9 font_gd name">{{ coupon.name }}</div>
                <div class="col-xs-3 value" style="color:{{ coupon.color_end }}">{{ coupon.label }}</div>
                <div class="col-xs-12 font_gl count">发放: {{ coupon.total_count }} / 领取: {{ coupon.received_count }} / 已用: {{ coupon.used_count }}</div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6" style="padding-right: 8px;">
                <a href="win_list" style="text-decoration: none">
                    <div class="win_list bg_red font_w" style="width:100%;">查看中奖名单</div>
                </a>
            </div>
            <div class="col-xs-6" style="padding-left: 8px;">
                <a href="way_list" style="text-decoration: none">
                    <div class="win_list bg_red font_w" style="width:100%;">查看参与记录</div>
                </a>
            </div>

        </div>
        <div class="row activity_time ">
            <div class="title">福利有效期</div>
            <div class="time">{{ coupon.coupon_start_time | date:"Y-m-d"}} 至 {{ coupon.coupon_end_time | date:"Y-m-d"}}</div>
        </div>
        <div class="row introduction bg_gray">
            <div class="title">使用说明</div>
            <div class="detail_info">
                {{ coupon.rule | safe}}
            </div>
        </div>
        <!--
        <div class="row rule bg_gray">
            <div class="title">活动规则</div>
            <div class="detail_info">
                {{ coupon.rule | safe}}
            </div>
        </div>
        -->
        <div class="row content ">
            <div class="title">福利图文信息</div>
            <div class="editor col-xs-12">
                {{ coupon.info | safe}}
            </div>
        </div>
        {% if not coupon.company_check %}
            <a href="check" onclick="return confirm('确认优惠券内容，并上线。')">
                <div class="row win_list bg_green font_w">确认优惠券内容</div>
            </a>
        {% else %}
            <div class="row win_list bg_gray_dark font_w">优惠券内容已确认</div>
        {% endif %}
    </div>
{% endblock %}
{% block footer %}{% endblock %}
