{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
    抢半价（江门站）
{% endblock %}
{% block header-left %}
    <a href="/company_center/" class="font_g"><span class="fa fa-angle-left" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"></span></a>
{% endblock %}
{% block header-middle %}
    消费优惠券
{% endblock %}
{% block header-right %}
{% endblock %}
{% block middle %}
    <div class="container-fluid">
    {% if not errors %}
        <div class="row font_w">
            <div class="col-xs-12 coupon2_detail" style="height:110px;
             {% if coupon_log.consume_state == "yes" %}
                background: url('{% static 'images/border_top_red.png' %}') 0% 0%, url('{% static 'images/border_bottom_red.png' %}') 0% 100%, -webkit-gradient(linear, left top, left bottom, color-stop(0, #dc4144), color-stop(1, #d1242d));
             {% elif expire == "True" %}
                background: url('{% static 'images/border_top_gray.png' %}') 0% 0%, url('{% static 'images/border_bottom_gray.png' %}') 0% 100%, -webkit-gradient(linear, left top, left bottom, color-stop(0, #70706f), color-stop(1, #4c4c4c));
             {% else %}
                background: url('{% static 'images/border_top_green.png' %}') 0% 0%, url('{% static 'images/border_bottom_green.png' %}') 0% 100%, -webkit-gradient(linear, left top, left bottom, color-stop(0, #86c12d), color-stop(1, #75ad15));
             {% endif %}
             ">
                <div class="col-xs-12 top" style="border-bottom:0;">
                    <div class="col-xs-2 left">
                        <img src="{{MEDIA_URL}}{{ coupon_log.coupon.company.gallery.galleryPic.first.pic }}" class=""/>
                    </div>
                    <div class="col-xs-9 right">
                        <div class="col-xs-12 font_16 top">{{ coupon_log.coupon.company.name }}</div>
                        <div class="col-xs-4 font_20 middle">{{ coupon_log.coupon.label }}</div>
                        <div class="col-xs-8 font_12 bottom">
                            <div>满{{ coupon_log.coupon.original_price }}使用</div>
                        </div>

                    </div>
                    <div class="col-xs-12 time_my_coupon" style="margin-top: 5px;text-align: center">有效期: {{ coupon_log.coupon.coupon_end_time | date:"Y-m-d" }} 至 {{ coupon_log.coupon.coupon_end_time | date:"Y-m-d"}}</div>
                </div>


            </div>
            <div class="center_label_my_coupon" style="margin-top: 22px">
                {% if coupon_log.consume_state == "yes" %}
                    <img src="{% static 'images/yishiyong.png' %}"/>
                {% else %}
                    {% if expire == "True" %}<img src="{% static 'images/yiguoqi.png' %}"/>{% endif %}
                {% endif %}
            </div>
        </div>
    {% endif %}
    </div>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        {% if errors %}
            <div class="row">
                <img src="{% static 'images/pig.png' %}" style="width:40%;margin:30px 30% 10px 30%"/>
            </div>
            <div class="row font_g" style="text-align: center; font-size: 30px;margin-bottom:10px ">
                {{ consume_code }}
            </div>
            <div class="row center">
                咦～什么也没有！<br>
                请核对您输入的消费码是否正确？<br>
                或者这个消费码是其他店铺的哦～<br>
            </div>
            <div class="row">
                <a href="/company_center">
                    <div class="bg_green font_w" style="width:40%;border-radius: 20px;text-align: center;height:30px;line-height:30px;margin:10px 30%; ">返 回</div>
                </a>
            </div>
        {% else %}
            <div class="row consume_code">
                <div class="title" style="font-size: 30px;margin-bottom: 2px">
                    {% if coupon_log.consume_state == "yes" %}
                    <font style="text-decoration:line-through" class="font_r">&nbsp;
                    {% endif %}
                        <consume_code style="color:{{ coupon_log.coupon.color_end }}">{{ coupon_log.consume_code }}</consume_code>
                    {% if coupon_log.consume_state == "yes" %}
                    &nbsp;</font>
                    {% endif %}
                </div>
                <div class="font_gl" style="font-size: 16px; text-align: center;margin-bottom: 26px">福利消费码</div>
            </div>
            {% if coupon_log.consume_state == "yes" %}
            <div class="row bg_red win_list font_w">
                使用日期：{{ coupon_log.consume_date }}
            </div>
            {% endif %}
            <div class="row rule bg_gray">
                <div class="title">使用说明</div>
                <div class="detail_info">
                    {{ coupon_log.coupon.rule | safe }}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
{% block footer %}
    <div style="height:40px"></div>
    {% if coupon_log.consume_state != "yes" and expire != "True" %}
        <a href="consume?coupon_log_id={{ coupon_log.id }}" onclick="return confirm('消费后无法恢复,确定要消费吗')">
            <div class="container-fluid win_list bg_red font_w bottom_fixed">确认消费</div>
        </a>
    {% endif %}
{% endblock %}