{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
    抢半价（江门站）
{% endblock %}
{% block header-left %}
    <a href="/company_center" class="font_g"><span class="fa fa-angle-left" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"></span></a>
{% endblock %}
{% block header-middle %}
    优惠券详情
{% endblock %}
{% block header-right %}
{% endblock %}
{% block middle %}
    <div class="container-fluid">
        <a href="javascript:history.back()">
            <span class="fa-stack fa-lg" style="position: absolute; top:10px; left: 20px;z-index: 9">
              <i class="fa fa-circle fa-stack-2x" style="color:white"></i>
              <i class="fa fa-arrow-left fa-stack-1x fa-inverse" style="color:{{ coupon.company.color_end }}"></i>
            </span>
        </a>
        <div class="row font_w">
            <!--
            <div class="col-xs-12 coupon2_detail" style="
             {% if coupon.total_count <= coupon.used_count %}
                background: url('{% static 'images/border_top_red.png' %}') 0% 0%, url('{% static 'images/border_bottom_red.png' %}') 0% 100%, -webkit-gradient(linear, left top, left bottom, color-stop(0, #dc4144), color-stop(1, #d1242d));
             {% elif expire == "True" %}
                background: url('{% static 'images/border_top_gray.png' %}') 0% 0%, url('{% static 'images/border_bottom_gray.png' %}') 0% 100%, -webkit-gradient(linear, left top, left bottom, color-stop(0, #70706f), color-stop(1, #4c4c4c));
             {% else %}
                background: url('{% static 'images/border_top_green.png' %}') 0% 0%, url('{% static 'images/border_bottom_green.png' %}') 0% 100%, -webkit-gradient(linear, left top, left bottom, color-stop(0, #86c12d), color-stop(1, #75ad15));
             {% endif %}
             ">
             -->

            <div class="col-xs-12 coupon2_detail" style="background: url('{% static 'images/border_top_green.png' %}') 0% 0%, url('{% static 'images/border_bottom_green.png' %}') 0% 100%, -webkit-gradient(linear, left top, left bottom, color-stop(0, #86c12d), color-stop(1, #75ad15));">
                <div class="col-xs-12 top">
                    <div class="col-xs-2 left">

                    </div>
                    <div class="col-xs-9 right">
                        <div class="col-xs-12 font_16 top">{{ coupon.company.name }}</div>
                        <div class="col-xs-12 font_12 middle">发放: {{ coupon.total_count }} / 领取: {{ coupon.received_count }} / 已用: {{ coupon.used_count }}</div>
                    </div>
                </div>
                <div class="col-xs-12 bottom">
                    <div class="col-xs-6 left">
                        <div class="col-xs-12 top" style="font-size: 30px">{{ coupon.label }}</div>
                        <div class="col-xs-12 font_16 bottom">满{{ coupon.original_price }}使用</div>
                    </div>
                    <!--
                    <div class="col-xs-6 right">
                        <div class="col-xs-12 top">
                            {% if unstart == "True" %}
                                开始倒计时：<remain_time>{{ coupon.activity_start_time }}</remain_time>
                            {% elif expire == "True" %}
                                已结束
                            {% else %}
                                结束倒计时：<remain_time>{{ coupon.activity_end_time }}</remain_time>
                            {% endif %}
                        </div>
                        <div class="col-xs-12 bottom">
                            {% if unstart == "True" %}
                                <div class="font_16 bg_white font_gd" onclick="alert('即将于 {{ coupon.activity_start_time|date:"m月d日 H:i" }} 开始,敬请期待')">
                                    免费领取
                                </div>
                            {% else %}
                                {% if expire == "True" %}
                                    <div class="font_16 bg_white font_gd">
                                        已结束
                                    </div>
                                {% else %}
                                    {% if over == "True" %}
                                    <div class="font_16 bg_white font_gd">
                                        抢光了
                                    </div>
                                    {% else %}
                                    <a href="fetch" style="color: white;">
                                        <div class="font_16 bg_white font_gd">
                                            {% if coupon.way.way_name == "摇一摇" %}我要参与{% endif %}
                                            {% if coupon.way.way_name == "猜一猜" %}我要参与{% endif %}
                                            {% if coupon.way.way_name == "领取" %}我要领取{% endif %}
                                        </div>
                                    </a>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    -->
                </div>

            </div>
        </div>

    </div>
    <!--
    <div class="container-fluid" style="border-radius: 0 0 10px 10px;box-shadow: 1px 1px 5px #cecece; padding-bottom:6px; margin-bottom: 18px;">
        <a href="javascript:history.back()">
            <span class="fa-stack fa-lg" style="position: absolute; top:10px; left: 20px;">
              <i class="fa fa-circle fa-stack-2x" style="color:white"></i>
              <i class="fa fa-arrow-left fa-stack-1x fa-inverse" style="color:{{ coupon.company.color_end }}"></i>
            </span>
        </a>
        <div class="center_label_my_coupon">
                {% if coupon.total_count <= coupon.used_count %}
                    <img src="{% static 'images/yiwangcheng.png' %}"/>
                {% else %}
                    {% if expire == "True" %}<img src="{% static 'images/yiguoqi.png' %}"/>{% endif %}
                {% endif %}
            </div>
        <div class="row coupon font_w bg_line" style="margin-bottom: 0px;background-image: url('{% static 'images/line.png' %}'), -webkit-gradient(linear, left top, left bottom, color-stop(0, {{ coupon.color_start }}), color-stop(1, {{ coupon.color_end }})) ; /* Saf4+, Chrome */">
            <img src="{{MEDIA_URL}}{{ coupon.company.gallery.galleryPic.first.pic }}" class="image_detail"/>
            <div class="company_name_detail">{{ coupon.company.name }}</div>
			<div class="time_detail font_w">
			</div>

        </div>
        <div class="row bottom bg_white">
            <div class="info">
                <div class="col-xs-9 font_gd name">{{ coupon.name }}</div>
                <div class="col-xs-3 value" style="color:{{ coupon.color_end }}">{{ coupon.label }}</div>
                <div class="col-xs-12 font_gl count">发放: {{ coupon.total_count }} / 领取: {{ coupon.received_count }} / 已用: {{ coupon.used_count }}</div>
            </div>
        </div>
    </div>
    -->
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6" style="padding-right: 8px;">
                <a href="win_list" style="text-decoration: none">
                    <div class="win_list bg_red font_w" style="width:100%;">查看中奖名单</div>
                </a>
            </div>
            <div class="col-xs-6" style="padding-left: 8px;">
                <a href="way_list" style="text-decoration: none">
                    <div class="win_list bg_red font_w" style="width:100%;">查看参与记录</div>
                </a>
            </div>

        </div>
        <div class="row activity_time ">
            <div class="title">福利有效期</div>
            <div class="time">{{ coupon.coupon_start_time | date:"Y-m-d"}} 至 {{ coupon.coupon_end_time | date:"Y-m-d"}}</div>
        </div>
        <div class="row introduction bg_gray">
            <div class="title">使用说明</div>
            <div class="detail_info">
                {{ coupon.rule | safe}}
            </div>
        </div>
        <!--
        <div class="row rule bg_gray">
            <div class="title">活动规则</div>
            <div class="detail_info">
                {{ coupon.rule | safe}}
            </div>
        </div>
        -->
        <div class="row content ">
            <div class="title">福利图文信息</div>
            <div class="editor col-xs-12">
                {{ coupon.info | safe}}
            </div>
        </div>
        {% if not coupon.company_check %}
            <a href="check" onclick="return confirm('确认优惠券内容，并上线。')">
                <div class="row win_list bg_green font_w">确认优惠券内容</div>
            </a>
        {% else %}
            <div class="row win_list bg_gray_dark font_w">优惠券内容已确认</div>
        {% endif %}
    </div>
{% endblock %}
{% block footer %}{% endblock %}
