{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
    抢半价（江门站）
{% endblock %}
{% block header-left %}
    <a href="/company_center/" class="font_g"><span class="fa fa-angle-left"></span></a>
{% endblock %}
{% block header-middle %}
    设置
{% endblock %}
{% block header-right %}
{% endblock %}
{% block middle %}
{%endblock %}
{% block content %}
    <div class="container-fluid border_t">
        <a href="javascript:history.back()">
            <span class="fa-stack fa-lg" style="position: absolute; top:10px; left: 20px;">
              <i class="fa fa-circle fa-stack-2x" style="color: #86c12d"></i>
              <i class="fa fa-arrow-left fa-stack-1x fa-inverse"></i>
            </span>
        </a>
        <div class="row" style="margin-top: 50px">
            <a href="company_info">
                <div class="col-xs-12 about_item font_gl bg_gray">
                    <div class="col-xs-10">商家信息</div>
                    <div class="col-xs-2"><li class="fa fa-angle-right"></li></div>
                </div>
            </a>
            <a href="change_password">
                <div class="col-xs-12 about_item font_gl">
                    <div class="col-xs-10">修改密码</div>
                    <div class="col-xs-2"><li class="fa fa-angle-right"></li></div>
                </div>
            </a>
            <a href="tel:0750-3400903">
                <div class="col-xs-12 about_item font_gl bg_gray">
                    <div class="col-xs-10">系统客服</div>
                    <div class="col-xs-2"><li class="fa fa-angle-right"></li></div>
                </div>
            </a>
        </div>
        <a href="/company_logout" onclick="return confirm('真的要注销吗？')">
            <div class="row bg_red font_w bottom_button">
                注 销
            </div>
        </a>
    </div>
{% endblock %}
{% block footer %}{% endblock %}