{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
    抢半价（江门站）
{% endblock %}
{% block header-left %}
    <a href="javascript:history.back()" class="font_g"><span class="fa fa-angle-left" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"></span></a>
{% endblock %}
{% block header-middle %}
    商家详情
{% endblock %}
{% block header-right %}
    <a href="/center"><div style="color:#86c21d; height: 24px;margin-top: 12px;line-height: 24px;">我的优惠</div></a>
{% endblock %}
{% block middle %}

{% endblock %}
{% block content %}
    <div class="container-fluid">
        <a href="javascript:history.back()">
            <span class="fa-stack fa-lg" style="position: absolute; top:10px; left: 20px;">
              <i class="fa fa-circle fa-stack-2x" style="color:white"></i>
              <i class="fa fa-arrow-left fa-stack-1x fa-inverse" style="color: {{ company.color_end }}"></i>
            </span>
        </a>
        <div class="row company" style="margin-bottom:20px; box-shadow: 1px 1px 30px #000000; background: -webkit-gradient(linear, left top, left bottom, color-stop(0, {{ company.color_start }}), color-stop(1, {{ company.color_end }})) ; /* Saf4+, Chrome */">
            <div class="col-xs-12" style="margin-top: 30px">
                <img src="{{MEDIA_URL}}{{ company.gallery.galleryPic.first.pic }}" class="image" style="border-radius: 50%"/>
            </div>
            <div class="col-xs-12 font_w name" style="margin-bottom: 10px">
                {{ company.name }}
            </div>
            <div class="info font_w">
                {{ company.info | safe}}
            </div>
        </div>
        <div class="row company">
            <div class="contact">
                <div class="col-xs-12 bg_gray font_gd">
                    <div class="detail_title col-xs-2"><img src="{% static 'images/tel.png' %}"/></div>
                    <div class="detail_title col-xs-10" style="padding-left:0;padding-right: 0;"><div class="tel contact_item font_gd">电话: {{ company.tel }}</div></div>
                </div>
                <div class="col-xs-12">
                    <div class="detail_title col-xs-2"><img src="{% static 'images/site.png' %}"/></div>
					<div class="detail_title col-xs-8" style="padding-left:0;padding-right: 0;"><div class="address contact_item">地址:<a href="http://apis.map.qq.com/uri/v1/marker?marker=coord:{{company.gps}};title:{{company.name}};addr:{{ company.address }}" style="color:{{ company.color_end }}"> {{ company.address }}</a></div></div>
                    <div class="detail_arrow col-xs-2"><i class="fa fa-chevron-right"></i></div>
                </div>
                <div class="col-xs-12 bg_gray">
                    <div class="detail_title col-xs-2"><img src="{% static 'images/time.png' %}"/></div>
                    <div class="detail_title col-xs-10" style="padding-left:0;padding-right: 0;"><div class="open_time contact_item">营业时间: {{ company.open_time }}</div></div>
                </div>
            </div>
            <div class="detail_info">
                {{ company.detail_info | safe}}
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
{% endblock %}
