{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
    抢半价（江门站）
{% endblock %}
{% block header-left %}
    <a href="javascript:history.back()" class="font_g"><span class="fa fa-angle-left" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"></span></a>
{% endblock %}
{% block header-middle %}
    获奖名单
{% endblock %}
{% block header-right %}
{% endblock %}
{% block middle %}
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <a href="javascript:history.back()">
            <span class="fa-stack fa-lg" style="position: absolute; top:10px; left: 20px;">
              <i class="fa fa-circle fa-stack-2x" style="color:white"></i>
              <i class="fa fa-arrow-left fa-stack-1x fa-inverse" style="color: #A12228"></i>
            </span>
        </a>
        <div class="row font_w bg_red_dark" style="padding:20px;" >
            <div style="border-bottom: 1px solid #cecece; width:45%;font-size: 28px;padding-bottom: 2px;margin-left: 50px">
                参与记录<br/>
            </div>
            <div style="font-size: 14px; margin-bottom: 40px;padding-top: 2px;margin-left: 50px">
			    次数：<counts>0</counts><br/>
                人数：<users>0</users>
            </div>
        </div>
        {% for coupon_log in coupon_logs %}
        <div class="row win_person border_b font_gl">
            <div class="col-xs-3" style="padding-left: 0">
                <img src="{{ coupon_log.bz_member.head_image_url }}" />
            </div>
            <div class="col-xs-9 " style="padding: 0">
				<div class="col-xs-12" style="padding:0;font-size: 18px">{{ coupon_log.bz_member.nickname }}</div>
				<div class="col-xs-12" style="padding:0; text-align: right">参与次数：<way_count></way_count></div>
				<script>
			    $('way_count').last().text(	{{ coupon.way_count }}-{{ coupon_log.residue_count }} );
				$('users').text($('way_count').length);
				$('counts').text(parseInt( $('way_count').last().text() )+ parseInt( $('counts').text() ) );
				</script>
                <div class="col-xs-12" style="padding:0; text-align: right">
                     最近参与时间：{{ coupon_log.last_way_time }}
                </div>

            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
{% block footer %}{% endblock %}
