{% extends "base.html" %}
{% load staticfiles %}
{% load timetags %}
{% block title %}
    抢半价（江门站）
{% endblock %}
{% block header-left %}
    <a href="javascript:history.back()" class="font_g"><span class="fa fa-angle-left" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"></span></a>
{% endblock %}
{% block header-middle %}
    优惠券详情
{% endblock %}
{% block header-right %}
    <a href="/center"><div style="color:#86c21d; height: 24px;margin-top: 12px;line-height: 24px;">我的优惠</div></a>
{% endblock %}
{% block middle %}
    <div class="container-fluid" style="border-radius: 0 0 10px 10px;box-shadow: 1px 1px 5px #cecece; margin-bottom: 18px;padding-bottom: 6px">
        <div class="row coupon3" style="margin-bottom: 0">
            <div class="col-xs-12" style="height: 100%;padding: 0;">
                <div class="col-xs-12 top">
                    <img src="{{MEDIA_URL}}{{ coupon.gallery.galleryPic.all.1.pic }}" class="" style="width:100%;"/>
                </div>
                <div class="company_logo">
                    <img src="{{MEDIA_URL}}{{ coupon.company.gallery.galleryPic.first.pic }}" class="" style="width:100%;"/>
                </div>
                <div class="col-xs-12 bottom bg_white">
                    <div class="col-xs-7 font_gd font_18" style="height:25px;overflow: hidden">{{ coupon.name }}</div>
                    <div class="col-xs-5 font_gd font_12">价值：<span>{{coupon.label }}</span></div>
                    <div class="col-xs-6 font_gl font_12">名额：{{ coupon.total_count }}</div>
					{% timepercent p=coupon.activity_start_time f=coupon.activity_end_time as thepercent %}
					{% confusion populations=coupon.CouponWayLog.all.count time=thepercent as thepop  %}
					<div class="col-xs-6 font_gl font_12">{{ thepop }}人已参与</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="container-fluid" style="z-index: 11">
        {% if expire != "True" %}
        <div class="row lottery_time">
            开奖时间：{{ coupon.way_time }}
        </div>
        {% endif %}
        {% if unstart == "True" %}
            <div class="row footer" style="background-color: #86c12d; color: white; text-align: center; line-height: 3em;width:80%;margin-left: 10%;margin-bottom: 20px;border-radius: 10px" onclick="alert('即将于 {{ coupon.activity_start_time|date:"m月d日 H:i" }} 开始,敬请期待')">
                我 要 参 与
            </div>
        {% else %}
            {% if expire == "True" %}
                <div class="row footer" style="background-color: gray; color: white; text-align: center; line-height: 3em;width:90%;margin-left: 5%;margin-bottom: 20px;border-radius: 10px">
                    已 结 束
                </div>
            {% else %}
                {% if over == "True" %}
                <div class="row footer" style="background-color: gray; color: white; text-align: center; line-height: 3em;width:90%;margin-left: 5%;margin-bottom: 20px;border-radius: 10px">
                    抢 光 了
                </div>
                {% else %}
                <a id="fetch" href="#" style="color: white;text-decoration: none">
                    <div class="row footer" style="background-color: #a31f24; text-align: center; line-height: 3em;width:90%;margin-left: 5%;margin-bottom: 20px;border-radius: 10px;">
                        我 要 抽 奖
                    </div>
                </a>

				{% if coupon.way.url == "luck_draw" %}
				<script>
				is_drawed = function() {
					$.ajax({
						type: "GET",
						url: "/game/luck_draw/is_drawed/{{coupon.pk}}/",
						success: function(data){
							if( data == 'True' )
								$('#fetch div').text('我 已 参 加').css( {backgroundColor:'#86c12d'} );
						}
					});
				};

				$('#fetch').bind("click", function() {
					$.ajax({
						type: "GET",
						url: "fetch",
						success: function(data){
							is_drawed();
						}
					});
				});

				is_drawed();
				</script>
				{% endif %}

                {% endif %}
            {% endif %}
        {% endif %}
        <!--
        <div class="row" style="text-align: center;padding:0 0 30px 0;">
            <div class="col-xs-12">福利提供方</div>
            <div class="col-xs-12" style="width:20%;height:auto;margin:20px 40%;border-radius: 50%;box-shadow: 1px 1px 5px #cecece;padding: 0">
                <img src="{{MEDIA_URL}}{{ coupon.company.gallery.galleryPic.first.pic }}" class="" style="width:100%;"/>
            </div>
            <div>{{ coupon.company.name }}</div>
        </div>
        -->
	</div>
    <div class="container-fluid">

        <div class="row " style="box-shadow: 1px 1px 5px #cecece; margin-bottom: 18px">
            <a href="company">
                <div class="col-xs-12 bg_gray font_gd">
                    <div class="detail_title col-xs-9">福利提供方</div>
                    <div class="detail_arrow col-xs-3"><i class="fa fa-chevron-right"></i></div>
                </div>
            </a>
			<div class="col-xs-12" onclick="$('#detail-gt-read-more').slideToggle(); 
				m=$(this).children().eq(1).find('i'); 
				m.attr('class') == 'fa fa-chevron-down' ? 
					m.removeClass('fa-chevron-down').addClass('fa-chevron-right') : 
					m.removeClass('fa-chevron-right').addClass('fa-chevron-down') 
				">

                <div class="detail_title col-xs-9">福利图文信息</div>
				<div class="detail_arrow col-xs-3"><i class="fa fa-chevron-right"></i></div>
            </div>
			
			<div id="detail-gt-read-more" class="col-xs-12 content " style="display: none;">
				<div class="editor">
					{{ coupon.info | safe}}
				</div>
			</div>

            {% if expire == "True"%}
                <a href="win_list">
                    <div class="col-xs-12 bg_gray font_gd">
                        <div class="detail_title col-xs-9">查看中奖名单</div>
						<div class="detail_arrow col-xs-3"><i class="fa fa-chevron-right"></i></div>
                    </div>
                </a>
            {% endif %}
        </div>
        <!--
        <div class="row activity_time">
            <div class="title">福利有效期</div>
            <div class="time">{{ coupon.coupon_start_time | date:"Y-m-d"}} 至 {{ coupon.coupon_end_time | date:"Y-m-d"}}</div>
        </div>
        -->
        <div class="row introduction">
            <div class="title">使用说明</div>
            <div class="detail_info">
                {{ coupon.rule | safe}}
            </div>
        </div>
        <!--
            <div class="row rule bg_gray">
                <div class="title">活动规则</div>
                <div class="detail_info">
                    {{ coupon.rule | safe}}
                </div>
            </div>
        <div class="way_button">
			{% if unstart == "True" %}
				<img src="{% static 'images/jijiangkaishi.png' %}">
			{% else %}
				{% if expire == "True" %}
					<img src="{% static 'images/jieshu.png' %}">
				{% else %}
					{% if over == "True" %}
						<img src="{% static 'images/qiangguangle.png' %}">{{ coupon.total_count }}{{ coupon.received_count }}
					{% else %}
					<a href="fetch">
						{% if coupon.way.way_name == "摇一摇" %}<img src="{% static 'images/yaohuilai.png' %}">{% endif %}
						{% if coupon.way.way_name == "猜一猜" %}<img src="{% static 'images/caihuilai.png' %}">{% endif %}
					</a>
					{% endif %}
				{% endif %}
			{% endif %}
		</div>
        -->
        <div class="row company">
            <div class="contact">
                <a href="tel:{{ coupon.company.tel }}" style="text-decoration: none">
                    <div class="col-xs-12 font_gd bg_gray">
                        <div class="detail_title col-xs-2"><img src="{% static 'images/tel.png' %}"/></div>
                        <div class="detail_title col-xs-8" style="padding-left:0;padding-right: 0;"><div class="tel contact_item font_gd">电话: {{ coupon.company.tel }}</div></div>
						<div class="detail_arrow col-xs-2"><i class="fa fa-chevron-right"></i></div>
                    </div>
                </a>
                <div class="col-xs-12">
                    <div class="detail_title col-xs-2"><img src="{% static 'images/site.png' %}"/></div>
					<div class="detail_title col-xs-8" style="padding-left:0;padding-right: 0;"><div class="address contact_item">地址:<a href="http://apis.map.qq.com/uri/v1/marker?marker=coord:{{coupon.company.gps}};title:{{coupon.company.name}};addr:{{ coupon.company.address }}" style="color:{{ coupon.color_end }}"> {{ coupon.company.address }}</a></div></div>
                    <div class="detail_arrow col-xs-2"><i class="fa fa-chevron-right"></i></div>
                </div>
                <div class="col-xs-12 bg_gray">
                    <div class="detail_title col-xs-2"><img src="{% static 'images/time.png' %}"/></div>
                    <div class="detail_title col-xs-10" style="padding-left:0;padding-right: 0;"><div class="open_time contact_item">营业时间: {{ coupon.company.open_time }}</div></div>
                </div>
            </div>
        </div>
        <!--
		{% if unstart != "True"%}
			<a href="win_list">
				<div class="row win_list bg_green font_w">查看中奖名单</div>
			</a>
		{% endif %}
		-->

        <div class="row" id="get-over" style="display: none;">
            <div class="detail_notice">
                <img src="{% static 'images/xq_pig1.png' %}">
                <div class="notice_content font_gd">每人限领{{ coupon.max_count }}张，<br>不要太贪心哦～</div>
                <div class="notice_button font_w" onclick="$('#get-over').hide();">我知道了</div>
				<div class="notice_button font_w"><a class="font_w"style="color:#FFFFFF" href="/">看看其他奖品</a></div>
            </div>
        </div>
        <div class="row" id="play-over" style="display: none;">
            <div class="detail_notice">
                <img src="{% static 'images/xq_pig2.png' %}">
                <div class="notice_content font_gd">每人最多玩{{ coupon.way_count }}次<br>留些机会给别人吧～</div>
                <div class="notice_button font_w" onclick="$('#play-over').hide();">手下留情</div>
				<!--<div class="notice_button font_w"><a class="font_w" style="color:#FFFFFF" href="/">就是不留情</a></div>-->
            </div>
        </div>
		<!--
        <div class="row">
            <div class="detail_notice">
                <img src="{% static 'images/xq_pig1.png' %}">
                <div class="notice_content font_gd">就是不留情，<br>你也没得玩！</div>
                <div class="notice_button font_w">投诉开发人员</div>
                <div class="notice_button font_w">看看其他</div>
            </div>
        </div>
        <div class="row">
            <div class="detail_notice">
                <img src="{% static 'images/xq_pig1.png' %}">
                <div class="notice_content font_gd">你以为你能投诉我吗？<br>呵呵！</div>
                <div class="notice_button font_w">看看其他奖品</div>
            </div>
        </div>
        <div class="row">
            <div class="detail_notice">
                <img src="{% static 'images/xq_pig3.png' %}">
                <div class="notice_content font_gd">手慢了～<br>已经被抢光了。</div>
                <div class="notice_button font_w">我知道了</div>
                <div class="notice_button font_w">看看其他奖品</div>
            </div>
        </div>
        -->

		<script>
			$(location.hash).show();
		</script>
    </div>
{% endblock %}
