{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
    抢半价（江门站）
{% endblock %}
{% block header-left %}
    <a href="javascript:history.back()" class="font_g"><span class="fa fa-angle-left" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"></span></a>
{% endblock %}
{% block header-middle %}
    优惠券详情
{% endblock %}
{% block header-right %}
    <a href="/center"><div style="color:#86c21d; height: 24px;margin-top: 12px;line-height: 24px;">我的优惠</div></a>
{% endblock %}
{% block middle %}
    <div class="container-fluid">
        <div class="row font_w">
            <div class="col-xs-12 coupon2_detail" style="
             {% if unstart == "True" %}
                background: url('{% static 'images/border_top_red.png' %}') 0% 0%, url('{% static 'images/border_bottom_red.png' %}') 0% 100%, -webkit-gradient(linear, left top, left bottom, color-stop(0, #dc4144), color-stop(1, #d1242d));
             {% elif expire == "True" %}
                background: url('{% static 'images/border_top_gray.png' %}') 0% 0%, url('{% static 'images/border_bottom_gray.png' %}') 0% 100%, -webkit-gradient(linear, left top, left bottom, color-stop(0, #70706f), color-stop(1, #4c4c4c));
             {% else %}
                background: url('{% static 'images/border_top_green.png' %}') 0% 0%, url('{% static 'images/border_bottom_green.png' %}') 0% 100%, -webkit-gradient(linear, left top, left bottom, color-stop(0, #86c12d), color-stop(1, #75ad15));
             {% endif %}
             ">
                <div class="col-xs-12 top">
                    <div class="col-xs-2 left">
                        <img src="{{MEDIA_URL}}{{ coupon.company.gallery.galleryPic.first.pic }}" class=""/>
                    </div>
                    <div class="col-xs-9 right">
                        <div class="col-xs-12 font_16 top">{{ coupon.company.name }}</div>
                        <div class="col-xs-4 font_12 middle">名额：{{ coupon.total_count }}</div>
                        <div class="col-xs-8 font_12 bottom">{{ coupon.received_count }}人已抢到</div>
                    </div>
                </div>
                <div class="col-xs-12 bottom">
                    <div class="col-xs-6 left">
                        <div class="col-xs-12 top" style="font-size: 30px">{{ coupon.label }}</div>
                        <div class="col-xs-12 font_16 bottom">满{{ coupon.original_price }}使用</div>
                    </div>
                    <div class="col-xs-6 right">
                        <div class="col-xs-12 top">
                            {% if unstart == "True" %}
                                开始倒计时：<remain_time>{{ coupon.activity_start_time }}</remain_time>
                            {% elif expire == "True" %}
                                已结束
                            {% else %}
                                结束倒计时：<remain_time>{{ coupon.activity_end_time }}</remain_time>
                            {% endif %}
                        </div>
                        <div class="col-xs-12 bottom">
                            {% if unstart == "True" %}
                                <div class="font_16 bg_white font_gd" onclick="alert('即将于 {{ coupon.activity_start_time|date:"m月d日 H:i" }} 开始,敬请期待')">
                                    免费领取
                                </div>
                            {% else %}
                                {% if expire == "True" %}
                                    <div class="font_16 bg_white font_gd">
                                        已结束
                                    </div>
                                {% else %}
                                    {% if over == "True" %}
                                    <div class="font_16 bg_white font_gd">
                                        抢光了
                                    </div>
                                    {% else %}
                                    <a href="fetch" style="color: white;">
                                        <div class="font_16 bg_white font_gd">
                                            {% if coupon.way.way_name == "摇一摇" %}我要参与{% endif %}
                                            {% if coupon.way.way_name == "猜一猜" %}我要参与{% endif %}
                                            {% if coupon.way.way_name == "领取" %}我要领取{% endif %}
                                        </div>
                                    </a>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
{% endblock %}
{% block content %}
    <div class="container-fluid">

        <div class="row " style="box-shadow: 1px 1px 5px #cecece; margin-bottom: 18px">
            <a href="company">
                <div class="col-xs-12 bg_gray font_gd">
                    <div class="detail_title col-xs-9">福利提供方</div>
                    <div class="detail_arrow col-xs-3"><i class="fa fa-chevron-right"></i></div>
                </div>
            </a>
			<div class="col-xs-12" onclick="$('#detail-gt-read-more').slideToggle(); 
				m=$(this).children().eq(1).find('i'); 
				m.attr('class') == 'fa fa-chevron-down' ? 
					m.removeClass('fa-chevron-down').addClass('fa-chevron-right') : 
					m.removeClass('fa-chevron-right').addClass('fa-chevron-down') 
				">

                <div class="detail_title col-xs-9">福利图文信息</div>
				<div class="detail_arrow col-xs-3"><i class="fa fa-chevron-right"></i></div>
            </div>
			
			<div id="detail-gt-read-more" class="col-xs-12 content " style="display: none;">
				<div class="editor">
					{{ coupon.info | safe}}
				</div>
			</div>

            {% if unstart != "True"%}
                <a href="win_list">
                    <div class="col-xs-12 bg_gray font_gd">
                        <div class="detail_title col-xs-9">查看领取名单</div>
						<div class="detail_arrow col-xs-3"><i class="fa fa-chevron-right"></i></div>
                    </div>
                </a>
            {% endif %}
        </div>
        <!--
        <div class="row activity_time">
            <div class="title">福利有效期</div>
            <div class="time">{{ coupon.coupon_start_time | date:"Y-m-d"}} 至 {{ coupon.coupon_end_time | date:"Y-m-d"}}</div>
        </div>
        -->
        <div class="row introduction">
            <div class="title">使用说明</div>
            <div class="detail_info">
                {{ coupon.rule | safe}}
            </div>
        </div>
        <!--
            <div class="row rule bg_gray">
                <div class="title">活动规则</div>
                <div class="detail_info">
                    {{ coupon.rule | safe}}
                </div>
            </div>
        <div class="way_button">
			{% if unstart == "True" %}
				<img src="{% static 'images/jijiangkaishi.png' %}">
			{% else %}
				{% if expire == "True" %}
					<img src="{% static 'images/jieshu.png' %}">
				{% else %}
					{% if over == "True" %}
						<img src="{% static 'images/qiangguangle.png' %}">{{ coupon.total_count }}{{ coupon.received_count }}
					{% else %}
					<a href="fetch">
						{% if coupon.way.way_name == "摇一摇" %}<img src="{% static 'images/yaohuilai.png' %}">{% endif %}
						{% if coupon.way.way_name == "猜一猜" %}<img src="{% static 'images/caihuilai.png' %}">{% endif %}
					</a>
					{% endif %}
				{% endif %}
			{% endif %}
		</div>
        -->
        <div class="row company">
            <div class="contact">
                <a href="tel:{{ coupon.company.tel }}" style="text-decoration: none">
                    <div class="col-xs-12 font_gd bg_gray">
                        <div class="detail_title col-xs-2"><img src="{% static 'images/tel.png' %}"/></div>
                        <div class="detail_title col-xs-8" style="padding-left:0;padding-right: 0;"><div class="tel contact_item font_gd">电话: {{ coupon.company.tel }}</div></div>
						<div class="detail_arrow col-xs-2"><i class="fa fa-chevron-right"></i></div>
                    </div>
                </a>
                <div class="col-xs-12">
                    <div class="detail_title col-xs-2"><img src="{% static 'images/site.png' %}"/></div>
					<div class="detail_title col-xs-8" style="padding-left:0;padding-right: 0;"><div class="address contact_item">地址:<a href="http://apis.map.qq.com/uri/v1/marker?marker=coord:{{coupon.company.gps}};title:{{coupon.company.name}};addr:{{ coupon.company.address }}" style="color:{{ coupon.color_end }}"> {{ coupon.company.address }}</a></div></div>
                    <div class="detail_arrow col-xs-2"><i class="fa fa-chevron-right"></i></div>
                </div>
                <div class="col-xs-12 bg_gray">
                    <div class="detail_title col-xs-2"><img src="{% static 'images/time.png' %}"/></div>
                    <div class="detail_title col-xs-10" style="padding-left:0;padding-right: 0;"><div class="open_time contact_item">营业时间: {{ coupon.company.open_time }}</div></div>
                </div>
            </div>
        </div>
        <!--
		{% if unstart != "True"%}
			<a href="win_list">
				<div class="row win_list bg_green font_w">查看中奖名单</div>
			</a>
		{% endif %}
		-->

        <div class="row" id="get-over" style="display: none;">
            <div class="detail_notice">
                <img src="{% static 'images/xq_pig1.png' %}">
                <div class="notice_content font_gd">每人限领{{ coupon.max_count }}张，<br>不要太贪心哦～</div>
                <div class="notice_button font_w" onclick="$('#get-over').hide();">我知道了</div>
				<div class="notice_button font_w"><a class="font_w"style="color:#FFFFFF" href="/">看看其他奖品</a></div>
            </div>
        </div>
        <div class="row" id="play-over" style="display: none;">
            <div class="detail_notice">
                <img src="{% static 'images/xq_pig2.png' %}">
                <div class="notice_content font_gd">每人最多领{{ coupon.way_count }}次<br>留些机会给别人吧～</div>
                <div class="notice_button font_w" onclick="$('#play-over').hide();">手下留情</div>
				<!--<div class="notice_button font_w"><a class="font_w" style="color:#FFFFFF" href="/">就是不留情</a></div>-->
            </div>
        </div>
		<!--
        <div class="row">
            <div class="detail_notice">
                <img src="{% static 'images/xq_pig1.png' %}">
                <div class="notice_content font_gd">就是不留情，<br>你也没得玩！</div>
                <div class="notice_button font_w">投诉开发人员</div>
                <div class="notice_button font_w">看看其他</div>
            </div>
        </div>
        <div class="row">
            <div class="detail_notice">
                <img src="{% static 'images/xq_pig1.png' %}">
                <div class="notice_content font_gd">你以为你能投诉我吗？<br>呵呵！</div>
                <div class="notice_button font_w">看看其他奖品</div>
            </div>
        </div>
        <div class="row">
            <div class="detail_notice">
                <img src="{% static 'images/xq_pig3.png' %}">
                <div class="notice_content font_gd">手慢了～<br>已经被抢光了。</div>
                <div class="notice_button font_w">我知道了</div>
                <div class="notice_button font_w">看看其他奖品</div>
            </div>
        </div>
        -->

		<script>
			$(location.hash).show();
		</script>
    </div>
{% endblock %}
