{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
	抢半价（江门站）
{% endblock %}
{% block header-left %}

{% endblock %}
{% block header-middle %}
    抢半价
{% endblock %}
{% block header-right %}
	<a href="/center"><div style="color:#86c21d; height: 24px;margin-top: 12px;line-height: 24px;">我的优惠</div></a>
{% endblock %}
{% block middle %}
{% endblock %}
{% block content %}
<script src="{% static 'js/swipe.js' %}"></script>

<div class="container-fluid bg_gray" style="background-color: rgb(219,219,219);">
	<div class="row" style="position: absolute; width: 100%; z-index: 100; top: 10px; opacity: .9;">
		<div id="coupon_front_gallery" class="coupon_front_gallery box_swipe">
			<ul>
				{% for picture in home_gallery.galleryPic.all %}
				<li>
					<a href="{{picture.links}}#">
						<img src="{{MEDIA_URL}}{{picture.pic}}" alt="" style="width:100%;">
					</a>
				</li>
				{% endfor %}
			</ul>
	
			<ol>
				{% for picture in home_gallery.galleryPic.all %}
				<li class=""></li>
				{% endfor %}
			</ol>	
		</div>
		
		<script>
		$(function(){
			new Swipe(document.getElementById('coupon_front_gallery'), {
				speed:500,
				auto:5000,
				callback: function(){
					var lis = $(this.element).next("ol").children();
					lis.removeClass("on").eq(this.index).addClass("on"); }
				});

			$('.coupon_front_shake').bind( "touchstart",
				function() { $(this).css( { backgroundColor: '#86C12D' } );}
			);
			$('.coupon_front_lottery').bind( "touchstart",
				function() { $(this).css( { backgroundColor: 'rgb(114,199,238)' } ); }
			);
			$('.coupon_front_money').bind( "touchstart",
				function() { $(this).css( { backgroundColor: 'rgb(250,0,99)' } ); }
			);
			$('.coupon_front_me').bind( "touchstart",
				function() { $(this).css( { backgroundColor: 'rgb(250,175,60)' } ); }
			);

			$('.coupon_front_shake, .coupon_front_lottery, .coupon_front_money, .coupon_front_me')
				.bind( "touchend",
					function() {
						$(this).css( { backgroundColor: 'white' } );
					})
				.bind( "touchstart", 
					function() {
					//	$(this).find('h4').css('color', 'white');
					})		
			;
		});
		</script>
	
    </div>

    <div class="row" style="position:fixed; bottom: 0; width: 100%;">
		<div class="col-xs-12" style="padding: 0;">
			<img src="{% static 'images/bg.png' %}" width="100%" />
		</div>
	</div>
	
	<div class="row" style="position: absolute; width: 100%; top: 53%;">
		<div class="col-xs-4">
			<a href="/search_by_taxonomy/?key=lottery">
				<img src="{% static 'images/box_l.png' %}" width="100%" />
			</a>
		</div>
		<div class="col-xs-4">
			<a href="/search_by_taxonomy/?key=shake">
				<img src="{% static 'images/box_c.png' %}" width="100%" />
			</a>
		</div>
		<div class="col-xs-4">
			<a href="/center">
				<img src="{% static 'images/box_r.png' %}" width="100%" />
			</a>
		</div>
	</div>

</div>
{% endblock %}

{% block footer %}{% endblock %}
