{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
	抢半价（江门站）
{% endblock %}
{% block header-left %}

{% endblock %}
{% block header-middle %}
    抢半价
{% endblock %}
{% block header-right %}
	<a href="/center"><div style="color:#86c21d; height: 24px;margin-top: 12px;line-height: 24px;">我的优惠</div></a>
{% endblock %}
{% block middle %}
{% endblock %}
{% block content %}
<script src="{% static 'js/swipe.js' %}"></script>

<div class="container-fluid bg_gray" style="background-color: rgb(219,219,219);">
    <div class="row">
		<div id="coupon_front_gallery" class="coupon_front_gallery box_swipe">
			<ul>
				{% for picture in home_gallery.galleryPic.all %}
				<li>
					<a href="{{picture.links}}#">
						<img src="{{MEDIA_URL}}{{picture.pic}}" alt="" style="width:100%;">
					</a>
				</li>
				{% endfor %}
			</ul>
	
			<ol>
				{% for picture in home_gallery.galleryPic.all %}
				<li class=""></li>
				{% endfor %}
			</ol>	
		</div>
		
		<script>
		$(function(){
			new Swipe(document.getElementById('coupon_front_gallery'), {
				speed:500,
				auto:5000,
				callback: function(){
					var lis = $(this.element).next("ol").children();
					lis.removeClass("on").eq(this.index).addClass("on"); }
				});

			$('.coupon_front_shake').bind( "touchstart",
				function() { $(this).css( { backgroundColor: '#86C12D' } );}
			);
			$('.coupon_front_lottery').bind( "touchstart",
				function() { $(this).css( { backgroundColor: 'rgb(114,199,238)' } ); }
			);
			$('.coupon_front_money').bind( "touchstart",
				function() { $(this).css( { backgroundColor: 'rgb(250,0,99)' } ); }
			);
			$('.coupon_front_me').bind( "touchstart",
				function() { $(this).css( { backgroundColor: 'rgb(250,175,60)' } ); }
			);

			$('.coupon_front_shake, .coupon_front_lottery, .coupon_front_money, .coupon_front_me')
				.bind( "touchend",
					function() {
						$(this).css( { backgroundColor: 'white' } );
					})
				.bind( "touchstart", 
					function() {
					//	$(this).find('h4').css('color', 'white');
					})		
			;
		});
		</script>
	
    </div>

	<div class="row">
		<div class="coupon_front_box" style="display: table;">
			<div class="table-row" style="display: table-row;">
				<div class="table-cell coupon_front_shake" style="display: table-cell; width: 50%; border-right: 5px solid rgb(219,219,219);">
				<a href="/search_by_taxonomy/?key=shake">
					<img src="{% static 'images/front-page-shake.png' %}" width="70%" />
					<h4 style="color: #86C12D; line-height: 1em;margin: 1em 0 0.1em 0;">摇半价</h4>
					<p>拼人品拿奖品</p>
				</a>
				</div>
				<div class="table-cell" style="display: table-cell; width: 50%">
					<div class="coupon_front_box_table" style="display: table; width: 100%;">
						<div class="coupon_front_box_border coupon_front_lottery" style="display: table-cell;">
							<a href="/search_by_taxonomy/?key=lottery">
								<br/>
								<img src="{% static 'images/front-page-draw.png' %}" width="50%" />
								<h4 style="color: rgb(114,199,238); line-height: 1em;margin: 1em 0 0.1em 0;">抽大奖</h4>
								<p>每晚10点开大奖</p>
								<br/>
							</a>
						</div>
					</div>
					<div class="coupon_front_box_table" style="display: table; width: 100%;">
						<div class="coupon_front_box_border coupon_front_money" style="display: table-cell;">
							<a href="/search_by_taxonomy/?key=money">
							<div style="display: table; width: 100%;">
								<div style="display: table-cell; width: 40%; padding: 5px 0;">
									<img src="{% static 'images/front-page-money.png' %}" width="80%" />
								</div>
								<div style="display: table-cell;">
									<p align="left" style="color: rgb(250,0,99)!important;">现金券</p>
									<p align="left">上千现金任你拿</p>
								</div>
							</div>
							</a>
						</div>
					</div>
					<div class="coupon_front_box_table" style="display: table; width: 100%;">
						<div class="coupon_front_me" style="display: table-cell;">
							<a href="/center">
							<div style="display: table; width: 100%;">
								<div style="display: table-cell; width: 40%; padding: 5px 0;">
									<img src="{% static 'images/front-page-me.png' %}" width="80%" />
								</div>
								<div style="display: table-cell;">
									<p align="left"  style="color: rgb(250,175,60)!important;">我的奖品</p>
									<p align="left">点击查看我的人品</p>
								</div>
							</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

</div>
{% endblock %}

{% block footer %}{% endblock %}
