{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
	抢半价（江门站）
{% endblock %}
{% block header-left %}

{% endblock %}
{% block header-middle %}
    抢半价
{% endblock %}
{% block header-right %}
	<a href="/center"><div style="color:#86c21d; height: 24px;margin-top: 12px;line-height: 24px;">我的优惠</div></a>
{% endblock %}
{% block middle %}
    <!--
    <div class="container-fluid">
        <div class="row">
            <img src="{% static 'images/coupon_1.jpg' %}" style="width: 100%">
        </div>
        <div class="row activity">
            <div class="col-xs-6 item" style="border-right: 1px solid #EEEEEE">
                <div class="font_gd title">
                    半价特权
                </div>
                <div class="font_gl subtitle">
                    玩出你的半价特权
                </div>
                <img src="{% static 'images/banjiatequan.png' %}">
            </div>
            <div class="col-xs-6 item">
                <div class="font_gd title">
                    免费福利
                </div>
                <div class="font_gl subtitle">
                    拼人品赢免费福利
                </div>
                <img src="{% static 'images/mianfeifuli.png' %}">
            </div>
        </div>
    </div>
    -->
{% endblock %}
{% block content %}

<div class="container-fluid bg_gray">
    {% if s_coupons %}
    <div class="row" style="height: 40px!important;margin-bottom: 10px">
		<div class="coupon_state_label font_gd"><div>正在进行</div></div>
    </div>
    {% endif %}
    {% for s_coupon in s_coupons %}
        <a href="/coupon/{{ s_coupon.id }}">
            <div class="row coupon">
                <div class="col-xs-12 coupon_index">
                    <div class="col-xs-12 top_index font_w" style="background-image: url('{% static 'images/line.png' %}'), -webkit-gradient(linear, left top, left bottom, color-stop(0, {{ s_coupon.color_start }}), color-stop(1, {{ s_coupon.color_end }})) ; /* Saf4+, Chrome */">
                        <div class="col-xs-9 company_info" style="vertical-align: middle">
                            <img src="{{MEDIA_URL}}{{ s_coupon.company.gallery.galleryPic.first.pic }}" class="image"/>
                            <div class="company_name"> {{ s_coupon.company.name }}</div>
                        </div>
                        <div class="col-xs-3 value">
                            {{ s_coupon.label }}
                        </div>
                        <div class="col-xs-12 name">{{ s_coupon.name }}</div>
						
						<div class="col-xs-3 blank"></div>
						<div class="col-xs-6 time" style="padding: 0;"> <img src="{% static 'images/time_shouye.png' %}" />结束倒计时：<remain_time>{{ s_coupon.activity_end_time }}</remain_time></div>
						<div class="col-xs-3 state" style="text-align:center;padding: 0;margin: 1px -7px 0 7px;border: 1px solid white;  font-size: 10px;">正在进行</div>

                    </div>
                    <div class="col-xs-12 bottom bottom_index bg_white">
                        <div class="info">
                            <div class="col-xs-6 font_gl total_count">名额：{{ s_coupon.total_count }}</div>
                            <div class="col-xs-6 font_gl received_count">{{s_coupon.received_count }}人已抢到</div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    {% endfor %}
    {% if r_coupons %}
    <div class="row" style="height: 40px!important;margin-bottom: 10px">
		<div class="coupon_state_label font_gd"><div>准备开始</div></div>
    </div>
    {% endif %}
    {% for r_coupon in r_coupons %}
        <a href="/coupon/{{ r_coupon.id }}">
            <div class="row coupon">
                <div class="col-xs-12 coupon_index">
                    <div class="col-xs-12 top_index font_w" style="background-image: url('{% static 'images/line.png' %}'), -webkit-gradient(linear, left top, left bottom, color-stop(0, {{ r_coupon.color_start }}), color-stop(1, {{ r_coupon.color_end }})) ; /* Saf4+, Chrome */">
                        <div class="col-xs-9 company_info" style="vertical-align: middle">
                            <img src="{{MEDIA_URL}}{{ r_coupon.company.gallery.galleryPic.first.pic }}" class="image"/>
                            <div class="company_name"> {{ r_coupon.company.name }}</div>
                        </div>
                        <div class="col-xs-3 value">
                            {{ r_coupon.label }}
                        </div>
                        <div class="col-xs-12 name">{{ r_coupon.name }}</div>
						<div class="col-xs-12 time"> <img src="{% static 'images/time_shouye.png' %}" />开始倒计时：<remain_time>{{ r_coupon.activity_start_time }}</remain_time></div>

                    </div>
                    <div class="col-xs-12 bottom bottom_index bg_white">
                        <div class="info">
                            <div class="col-xs-6 font_gl total_count">名额：{{ r_coupon.total_count }}</div>
                            <div class="col-xs-6 font_gl received_count">{{r_coupon.received_count }}人已抢到</div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    {% endfor %}
    {% if e_coupons %}
    <div class="row" style="height: 40px!important;margin-bottom: 10px">
		<div class="coupon_state_label font_gd"><div>已经结束</div></div>
    </div>
    {% endif %}
    {% for e_coupon in e_coupons %}
        <a href="/coupon/{{ e_coupon.id }}">
            <div class="row coupon">
                <div class="col-xs-12 coupon_index">
                    <div class="col-xs-12 top_index font_w bg_line" style="background: url('{% static 'images/line.png' %}'), #CECECE;  ">
                        <div class="col-xs-9 company_info" style="vertical-align: middle">
                            <img src="{{MEDIA_URL}}{{ e_coupon.company.gallery.galleryPic.first.pic }}" class="image image_gray"/>
                            <div class="company_name"> {{ e_coupon.company.name }}</div>
                        </div>
                        <div class="col-xs-3 value">
                            {{ e_coupon.label }}
                        </div>
                        <div class="col-xs-12 name">{{ e_coupon.name }}</div>
                        <div class="col-xs-12 time"> <img src="{% static 'images/time_shouye.png' %}" />已结束</div>

                    </div>
                    <div class="col-xs-12 bottom bottom_index bg_white">
                        <div class="info">
                            <div class="col-xs-6 font_gl total_count">名额：{{ e_coupon.total_count }}</div>
                            <div class="col-xs-6 font_gl received_count">{{e_coupon.received_count }}人已抢到</div>
                        </div>
                    </div>
                </div>
            </div>
        </a>

    {% endfor %}
</div>
{% endblock %}
{% block footer %}
    <div class="bg_gray" style="height:70px"></div>

    <div class="container-fluid bottom_fixed" style="z-index: 11">
        <div class="row footer">
            <a href="/search_by_taxonomy?key=half_price">
                <div class="col-xs-3 footer_item">
                    <img src="{% static 'images/banjiatequan.png' %}">
                    <br>半价特权
                </div>
            </a>
            <a href="/search_by_taxonomy?key=free">
                <div class="col-xs-3 footer_item">
                    <img src="{% static 'images/mianfeifuli.png' %}">
                    <br>免费福利
                </div>
            </a>
            <a href="/search_by_taxonomy?key=money">
                <div class="col-xs-3 footer_item">
                    <img src="{% static 'images/zuixinzixun.png' %}">
                    <br>现金领取
                </div>
            </a>
            <!--<a href="/info_list">
                <div class="col-xs-3 footer_item">
                    <img src="{% static 'images/zuixinzixun.png' %}">
                    <br>最新资讯
                </div>
            </a>-->
            <a href="/center">
                <div class="col-xs-3 footer_item">
                    <img src="{% static 'images/wodeyouhui.png' %}">
                    <br>我的福利
                </div>
            </a>
        </div>
    </div>
    <div class="container-fluid bottom_fixed bg_white" style="height:7%;box-shadow: 1px 1px 14px #CECECE;z-index:10">
        <div class="row footer">
        </div>
    </div>
{% endblock %}

