{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
	抢半价（江门站）
{% endblock %}
{% block header-left %}

{% endblock %}
{% block header-middle %}
    抢半价
{% endblock %}
{% block header-right %}
	<a href="/center"><div style="color:#86c21d; height: 24px;margin-top: 12px;line-height: 24px;">我的优惠</div></a>
{% endblock %}
{% block middle %}
    <div class="container-fluid detail_info_list" style="padding-top: 20px">
        {% for company in companies %}
        <a href="{{ company.id }}">
        <div class="row" style="margin-bottom: 10px">
            <div class="detail_info_item coupon_index col-xs-12 font_w" style="background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, {{ company.color_start }}), color-stop(1, {{ company.color_end }})) ;">
                <div class="col-xs-10" style="height:60px;line-height: 60px">
                    <img src="{{MEDIA_URL}}{{ company.gallery.galleryPic.first.pic }}">
                    <div class="company_name">{{ company.name }}</div>
                </div>
                <div class="col-xs-2" style="height:60px;line-height:60px;text-align: right;font-size: 30px">·</div>
            </div>
        </div>
        </a>
        {% endfor %}
    </div>
{% endblock %}

