{% extends "base.html" %}
{% load staticfiles %}
{% load timetags %}
{% block title %}
	抢半价（江门站）
{% endblock %}
{% block header-left %}

{% endblock %}
{% block header-middle %}
    抢半价
{% endblock %}
{% block header-right %}
	<a href="/center"><div style="color:#86c21d; height: 24px;margin-top: 12px;line-height: 24px;">我的优惠</div></a>
{% endblock %}
{% block middle %}
{% endblock %}
{% block content %}

<div class="container-fluid bg_gray">
    {% if s_coupons %}
    <div class="row" style="height: 40px!important;margin-bottom: 10px">
		<div class="coupon_state_label font_gd"><div>正在进行</div></div>
    </div>
    {% endif %}
    {% for s_coupon in s_coupons %}
        <a href="/coupon/{{ s_coupon.id }}">
            <div class="row coupon3">
                <div class="col-xs-12 coupon_shadow2" style="height: 100%;width: 96%;margin: auto 2%;padding: 0">
                    <div class="col-xs-12 top">
                        <img src="{{MEDIA_URL}}{{ s_coupon.gallery.galleryPic.first.pic }}" class="" style="width:100%;"/>
                    </div>
                    <div class="company_logo">
                        <img src="{{MEDIA_URL}}{{ s_coupon.company.gallery.galleryPic.first.pic }}" class="" style="width:100%;"/>
                    </div>
                    <div class="time font_white" style="background-color: rgba(220,65,68,0.9);color:white">开奖时间：{{ s_coupon.way_time }}</div>
                    <div class="col-xs-12 bottom bg_white">
                        <div class="col-xs-7 font_gd font_18" style="height:25px;overflow: hidden">{{ s_coupon.name }}</div>
                        <div class="col-xs-5 font_gd font_12">价值：<span>{{s_coupon.label }}</span></div>
                        <div class="col-xs-6 font_gl font_12">名额：{{ s_coupon.total_count }}</div>
						
						{% timepercent p=s_coupon.activity_start_time f=s_coupon.activity_end_time as thepercent %}
						{% confusion populations=s_coupon.CouponWayLog.all.count time=thepercent as thepop  %}
						<div class="col-xs-6 font_gl font_12">{{ thepop }}人已参与</div>
                    </div>
                </div>
            </div>
        </a>
    {% endfor %}
    {% if r_coupons %}
    <div class="row" style="height: 40px!important;margin-bottom: 10px">
		<div class="coupon_state_label font_gd"><div>准备开始</div></div>
    </div>
    {% endif %}
    {% for r_coupon in r_coupons %}
        <a href="/coupon/{{ r_coupon.id }}">
            <div class="row coupon3">
                <div class="col-xs-12 coupon_shadow2" style="height: 100%;width: 96%;margin: auto 2%;padding: 0">
                    <div class="col-xs-12 top">
                        <img src="{{MEDIA_URL}}{{ r_coupon.gallery.galleryPic.first.pic }}" class="" style="width:100%;"/>
                    </div>
                    <div class="company_logo">
                        <img src="{{MEDIA_URL}}{{ r_coupon.company.gallery.galleryPic.first.pic }}" class="" style="width:100%;"/>
                    </div>
                    <div class="time font_gd">将于{{ r_coupon.activity_start_time }}开始</div>
                    <div class="col-xs-12 bottom bg_white">
                        <div class="col-xs-7 font_gd font_18" style="height:25px;overflow: hidden">{{ r_coupon.name }}</div>
                        <div class="col-xs-5 font_gd font_12">价值：<span>{{r_coupon.label }}</span></div>
                        <div class="col-xs-6 font_gl font_12">名额：{{ r_coupon.total_count }}</div>
                        <div class="col-xs-6 font_gl font_12">{{r_coupon.CouponWayLog.all.count }}人已参与</div>
                    </div>
                </div>
            </div>
        </a>
    {% endfor %}
    {% if e_coupons %}
    <div class="row" style="height: 40px!important;margin-bottom: 10px">
		<div class="coupon_state_label font_gd"><div>已经结束</div></div>
    </div>
    {% endif %}
    {% for e_coupon in e_coupons %}
        <a href="/coupon/{{ e_coupon.id }}">
			<div class="row coupon3" style="-webkit-filter: grayscale(1);">
                <div class="col-xs-12 coupon_shadow2" style="height: 100%;width: 96%;margin: auto 2%;padding: 0">
                    <div class="col-xs-12 top">
                        <img src="{{MEDIA_URL}}{{ e_coupon.gallery.galleryPic.first.pic }}" class="" style="width:100%;"/>
                    </div>
                    <div class="company_logo">
                        <img src="{{MEDIA_URL}}{{ e_coupon.company.gallery.galleryPic.first.pic }}" class="" style="width:100%;"/>
                    </div>
                    <div class="time font_gd">抽奖已结束</div>
                    <div class="col-xs-12 bottom bg_white">
                        <div class="col-xs-7 font_gd font_18" style="height:25px;overflow: hidden">{{ e_coupon.name }}</div>
                        <div class="col-xs-5 font_gd font_12">价值：<span>{{e_coupon.label }}</span></div>
                        <div class="col-xs-6 font_gl font_12">名额：{{ e_coupon.total_count }}</div>
						
						{% timepercent p=e_coupon.activity_start_time f=e_coupon.activity_end_time as thepercent %}
						{% confusion populations=e_coupon.CouponWayLog.all.count time=thepercent as thepop  %}
						<div class="col-xs-6 font_gl font_12">{{ thepop }}人已参与</div>
                    </div>
                </div>
            </div>
        </a>
    {% endfor %}
</div>
{% endblock %}
