{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
    抢半价（江门站）
{% endblock %}
{% block header-left %}
    <a href="javascript:history.back()" class="font_g"><span class="fa fa-angle-left" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"></span></a>
{% endblock %}
{% block header-middle %}
    抢半价
{% endblock %}
{% block header-right %}
    <a href="center.html"><img src="{% static 'images/gerenzhongxin.png' %}" style="width:34%;"/></a>
{% endblock %}
{% block middle %}
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row coupon">
            <div class="way"><img src="{% static 'images/yaohuilai.png' %}"></div>
            <div class="time bg_green font_w">剩余时间：<br/><ct style="font-size: 18px">1:15:21</ct></div>
            <img src="{% static 'images/coupon_1.jpg'%}" class="image">
            <div class="bottom bg_red font_w">
                <div class="info col-xs-9">
                    <div class="col-xs-12 name">【水悦国际水会】238元法式全新按摩</div>
                    <div class="col-xs-6 total_count">&nbsp;发放数量：不限</div>
                    <div class="col-xs-6 received_count">获得人数：39</div>
                </div>
                <div class="value col-xs-3 font_discount">
                    3<sv style="font-size: 14px">折</sv>
                </div>
            </div>
        </div>
        <div class="row coupon">
            <div class="way"><img src="{% static 'images/yaohuilai.png' %}"></div>
            <div class="time bg_green font_w">剩余时间：<br/><ct style="font-size: 18px">1:15:21</ct></div>
            <img src="{% static 'images/coupon_1.jpg'%}" class="image">
            <div class="bottom bg_red font_w">
                <div class="info col-xs-9">
                    <div class="col-xs-12 name">【水悦国际水会】238元法式全新按摩</div>
                    <div class="col-xs-6 total_count">&nbsp;发放数量：不限</div>
                    <div class="col-xs-6 received_count">获得人数：39</div>
                </div>
                <div class="value col-xs-3 font_discount">
                    3<sv style="font-size: 14px">折</sv>
                </div>
            </div>
        </div>
        <div class="row coupon">
            <div class="way"><img src="{% static 'images/yaohuilai.png' %}"></div>
            <div class="time bg_green font_w">剩余时间：<br/><ct style="font-size: 18px">1:15:21</ct></div>
            <img src="{% static 'images/coupon_1.jpg'%}" class="image">
            <div class="bottom bg_white font_gd">
                <div class="info col-xs-9">
                    <div class="col-xs-12 name">【水悦国际水会】238元法式全新按摩</div>
                    <div class="col-xs-6 total_count">&nbsp;发放数量：不限</div>
                    <div class="col-xs-6 received_count">获得人数：39</div>
                </div>
                <div class="value col-xs-3 font_r font_free">
                    免费
                </div>
            </div>
        </div>
        <div class="row coupon">
            <div class="way"><img src="{% static 'images/yaohuilai.png' %}"></div>
            <div class="time bg_green font_w">剩余时间：<br/><ct style="font-size: 18px">1:15:21</ct></div>
            <img src="{% static 'images/coupon_1.jpg'%}" class="image">
            <div class="bottom bg_white font_gd">
                <div class="info col-xs-9">
                    <div class="col-xs-12 name">【水悦国际水会】238元法式全新按摩</div>
                    <div class="col-xs-6 total_count">&nbsp;发放数量：不限</div>
                    <div class="col-xs-6 received_count">获得人数：39</div>
                </div>
                <div class="value col-xs-3 font_r font_money">
                    <ms style="font-size: 10px">￥</ms>2000
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
{% endblock %}

