{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
	抢半价（江门站）
{% endblock %}
{% block header-left %}

{% endblock %}
{% block header-middle %}
    抢半价
{% endblock %}
{% block header-right %}
	<a href="/center"><div style="color:#86c21d; height: 24px;margin-top: 12px;line-height: 24px;">我的优惠</div></a>
{% endblock %}
{% block middle %}
{% endblock %}
{% block content %}

<div class="container-fluid bg_gray">
    {% if s_coupons %}
    <div class="row" style="height: 24px!important;margin: 10px">
		<div style="text-align: center;height: 100%"><img src="{% static 'images/start.png' %}" style="height: 100%; width: auto;"></div>
    </div>
    {% endif %}
    {% for s_coupon in s_coupons %}
        <a href="/coupon/{{ s_coupon.id }}">
            <div class="row coupon2 bg_white">
                <div class="col-xs-12 coupon_shadow" style="height: 100%;width: 96%;margin: auto 2%;padding: 0">
                    <div class="col-xs-9 left" style="height: 100%;">
                        <div class="col-xs-12 top">
                            <div class="col-xs-3 image">
                                <img src="{{MEDIA_URL}}{{ s_coupon.company.gallery.galleryPic.first.pic }}" width="100%"/>
                            </div>
                            <div class="col-xs-9 text">
                                <div class="font_gd font_14" style="margin-bottom: 4px">{{ s_coupon.company.name }}</div>
                                <div class="font_gl font_12">{{ s_coupon.name }}</div>
                                <div class="font_gl font_12">共{{ s_coupon.total_count }}份/{{s_coupon.received_count }}人已抢到</div>
                            </div>
                        </div>
                        <!--
                        <div class="font_gd font_12 col-xs-12 bottom">结束倒计时：<remain_time>{{ s_coupon.activity_end_time }}</remain_time></div>
                        -->
                    </div>
                    <div class="col-xs-3 right" style="background-image: url('{% static  'images/border_r_g.png'%}'), -webkit-gradient(linear, left top, left bottom, color-stop(0, #86c12d), color-stop(1, #75ad15)) ;">
                        <div class="font_w top">{{ s_coupon.label }}</div>
                        <div class="font_w middle">满{{ s_coupon.original_price }}使用</div>
                    </div>
                </div>
            </div>
        </a>
    {% endfor %}
    {% if r_coupons %}
    <div class="row" style="height: 24px!important;margin: 10px">
		<div style="text-align: center;height: 100%"><img src="{% static 'images/ready.png' %}" style="height: 100%; width: auto;"></div>
    </div>
    {% endif %}
    {% for r_coupon in r_coupons %}
        <a href="/coupon/{{ r_coupon.id }}">
            <div class="row coupon2 bg_white">
                <div class="col-xs-12 coupon_shadow" style="height: 100%;width: 96%;margin: auto 2%;padding: 0">
                    <div class="col-xs-9 left" style="height: 100%;">
                        <div class="col-xs-12 top">
                            <div class="col-xs-3 image">
                                <img src="{{MEDIA_URL}}{{ r_coupon.company.gallery.galleryPic.first.pic }}" width="100%"/>
                            </div>
                            <div class="col-xs-9 text">
                                <div class="font_gd font_14" style="margin-bottom: 4px">{{ r_coupon.company.name }}</div>
                                <div class="font_gl font_12">{{ r_coupon.name }}</div>
                                <div class="font_gl font_12">共{{ r_coupon.total_count }}份/{{r_coupon.received_count }}人已抢到</div>
                            </div>
                        </div>
                        <!--
                        <div class="font_gd font_12 col-xs-12 bottom">开始倒计时：<remain_time>{{ r_coupon.activity_start_time }}</remain_time></div>
                        -->
                    </div>
                    <div class="col-xs-3 right" style="background-image: url('{% static  'images/border_r_r.png'%}'), -webkit-gradient(linear, left top, left bottom, color-stop(0, #dc4144), color-stop(1, #d1242d)) ;">
                        <div class="font_w top">{{ r_coupon.label }}</div>
                        <div class="font_w middle">满{{ r_coupon.original_price }}使用</div>
                    </div>
                </div>
            </div>
        </a>
    {% endfor %}
    {% if e_coupons %}
    <div class="row" style="height: 24px!important;margin: 10px">
		<div style="text-align: center;height: 100%"><img src="{% static 'images/over.png' %}" style="height: 100%; width: auto;"></div>
    </div>
    {% endif %}
    {% for e_coupon in e_coupons %}
        <a href="/coupon/{{ e_coupon.id }}">
            <div class="row coupon2 bg_white">
                <div class="col-xs-12 coupon_shadow" style="height: 100%;width: 96%;margin: auto 2%;padding: 0">
                    <div class="col-xs-9 left" style="height: 100%;">
                        <div class="col-xs-12 top">
                            <div class="col-xs-3 image">
                                <img src="{{MEDIA_URL}}{{ e_coupon.company.gallery.galleryPic.first.pic }}" width="100%"/>
                            </div>
                            <div class="col-xs-9 text">
                                <div class="font_gd font_14" style="margin-bottom: 4px">{{ e_coupon.company.name }}</div>
                                <div class="font_gl font_12">{{ e_coupon.name }}</div>
                                <div class="font_gl font_12">共{{ e_coupon.total_count }}份/{{e_coupon.received_count }}人已抢到</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3 right" style="background-image: url('{% static  'images/border_r_b.png'%}'), -webkit-gradient(linear, left top, left bottom, color-stop(0, #70706f), color-stop(1, #4c4c4c)) ;">
                        <div class="font_w top">{{ e_coupon.label }}</div>
                        <div class="font_w middle">满{{ e_coupon.original_price }}使用</div>
                    </div>
                </div>
            </div>
        </a>
    {% endfor %}
</div>
{% endblock %}
