{% extends "base.html" %}
{% load staticfiles %}
{% load timetags %}
{% block title %}
	抢半价（江门站）
{% endblock %}
{% block header-left %}

{% endblock %}
{% block header-middle %}
    抢半价
{% endblock %}
{% block header-right %}
	<a href="/center"><div style="color:#86c21d; height: 24px;margin-top: 12px;line-height: 24px;">我的优惠</div></a>
{% endblock %}
{% block middle %}
{% endblock %}
{% block content %}

<div class="container-fluid bg_gray">
    {% if s_coupons %}
    <div class="row" style="height: 40px!important;margin-bottom: 10px">
		<div class="coupon_state_label font_gd"><div>正在进行</div></div>
    </div>
    {% endif %}
    {% for s_coupon in s_coupons %}
		<!--
        <a href="/coupon/{{ s_coupon.id }}">
            <div class="row coupon">
                <div class="col-xs-12 coupon_index">
                    <div class="col-xs-12 top_index font_w" style="background-image: url('{% static 'images/line.png' %}'), -webkit-gradient(linear, left top, left bottom, color-stop(0, {{ s_coupon.color_start }}), color-stop(1, {{ s_coupon.color_end }})) ; /* Saf4+, Chrome */">
                        <div class="col-xs-9 company_info" style="vertical-align: middle">
                            <img src="{{MEDIA_URL}}{{ s_coupon.company.gallery.galleryPic.first.pic }}" class="image"/>
                            <div class="company_name"> {{ s_coupon.company.name }}</div>
                        </div>
                        <div class="col-xs-3 value">
                            {{ s_coupon.label }}
                        </div>
                        <div class="col-xs-12 name">{{ s_coupon.name }}</div>
						
						<div class="col-xs-3 blank"></div>
						<div class="col-xs-6 time" style="padding: 0;"> <img src="{% static 'images/time_shouye.png' %}" />结束倒计时：<remain_time>{{ s_coupon.activity_end_time }}</remain_time></div>
						<div class="col-xs-3 state" style="text-align:center;padding: 0;margin: 1px -7px 0 7px;border: 1px solid white;  font-size: 10px;">正在进行</div>

                    </div>
                    <div class="col-xs-12 bottom bottom_index bg_white">
                        <div class="info">
                            <div class="col-xs-6 font_gl total_count">名额：{{ s_coupon.total_count }}</div>
                            <div class="col-xs-6 font_gl received_count">{{s_coupon.received_count }}人已抢到</div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
		-->

        <a href="/coupon/{{ s_coupon.id }}">
            <div class="row coupon">
                <div class="col-xs-12 coupon_index">
					<div class="col-xs-12 top_index font_w" 
						style="background-image: 
									url('{% static 'images/line.png' %}'), 
									-webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0,0,0,.8) ),color-stop(.3, rgba(0,0,0,.4) ), color-stop(.8, rgba(0,0,0,0))), /* Saf4+, Chrome */
									url('{{MEDIA_URL}}{{ s_coupon.gallery.galleryPic.first.pic }}'),
									-webkit-gradient(linear, left top, left bottom, color-stop(0, {{ s_coupon.color_start }}), color-stop(1, {{ s_coupon.color_end }})) ; /* Saf4+, Chrome */
								background-position: 0 101%, 0%, 50%;
							    background-size: 100%,100%,cover;	  
						">
                        <div class="col-xs-9 company_info" style="vertical-align: middle">
                            <img src="{{MEDIA_URL}}{{ s_coupon.company.gallery.galleryPic.first.pic }}" class="image"/>
                            <div class="company_name"> {{ s_coupon.company.name }}</div>
                        </div>
                        <div class="col-xs-3 value"></div>
						<div class="col-xs-12 name">
							{% if not s_coupon.company.gallery.galleryPic.first.pic %}
								{{ s_coupon.name }}
							{% endif %}
						</div>
                        <div class="col-xs-12 name"></div>
                    </div>
					<div class="col-xs-12 bg_white" style="line-height: 1.3em;">
                        <div class="info">
							<div class="col-xs-9 font_gl total_count" style="font-size: 18px; color: black; height: 1em;">{{ s_coupon.name }}</div>
							<div class="col-xs-3 font_gl received_count" style="font-size: 18px;color: red;">{{ s_coupon.label }}</div>
                        </div>
                    </div>
                    <div class="col-xs-12 bottom_index bg_white" style="padding-bottom: .3em;">
                        <div>
							<div class="col-xs-6 font_gl total_count" style="font-size: 12px;">已抢 {{s_coupon.received_count }} / {{ s_coupon.total_count }}份</div>
							<div class="col-xs-3"></div>
							<div class="col-xs-3 state" style="border-radius: 3px; text-align:center;padding: 0; background-color: red; border: 1px solid red; font-size: 10px; color: white; ">正在进行</div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    {% endfor %}
    {% if r_coupons %}
    <div class="row" style="height: 40px!important;margin-bottom: 10px">
		<div class="coupon_state_label font_gd"><div>准备开始</div></div>
    </div>
    {% endif %}
    {% for r_coupon in r_coupons %}
        <a href="/coupon/{{ r_coupon.id }}">
            <div class="row coupon">
                <div class="col-xs-12 coupon_index">
                    <div class="col-xs-12 top_index font_w" style="background-image: url('{% static 'images/line.png' %}'), -webkit-gradient(linear, left top, left bottom, color-stop(0, {{ r_coupon.color_start }}), color-stop(1, {{ r_coupon.color_end }})) ; /* Saf4+, Chrome */">
                        <div class="col-xs-9 company_info" style="vertical-align: middle">
                            <img src="{{MEDIA_URL}}{{ r_coupon.company.gallery.galleryPic.first.pic }}" class="image"/>
                            <div class="company_name"> {{ r_coupon.company.name }}</div>
                        </div>
                        <div class="col-xs-3 value">
                            {{ r_coupon.label }}
                        </div>
                        <div class="col-xs-12 name">{{ r_coupon.name }}</div>
						<div class="col-xs-12 time"> <img src="{% static 'images/time_shouye.png' %}" />开始倒计时：<remain_time>{{ r_coupon.activity_start_time }}</remain_time></div>

                    </div>
                    <div class="col-xs-12 bottom bottom_index bg_white">
                        <div class="info">
                            <div class="col-xs-6 font_gl total_count">名额：{{ r_coupon.total_count }}</div>
                            <div class="col-xs-6 font_gl received_count">{{r_coupon.received_count }}人已抢到</div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    {% endfor %}
    {% if e_coupons %}
    <div class="row" style="height: 40px!important;margin-bottom: 10px">
		<div class="coupon_state_label font_gd"><div>已经结束</div></div>
    </div>
    {% endif %}

    {% for e_coupon in e_coupons %}
	{% if e_coupon.activity_end_time|timestampsince < 259200000 %} 
        <a href="/coupon/{{ e_coupon.id }}">
            <div class="row coupon">
                <div class="col-xs-12 coupon_index">
                    <div class="col-xs-12 top_index font_w bg_line" style="background: url('{% static 'images/line.png' %}'), #CECECE;  ">
                        <div class="col-xs-9 company_info" style="vertical-align: middle">
                            <img src="{{MEDIA_URL}}{{ e_coupon.company.gallery.galleryPic.first.pic }}" class="image image_gray"/>
                            <div class="company_name"> {{ e_coupon.company.name }}</div>
                        </div>
                        <div class="col-xs-3 value">
                            {{ e_coupon.label }}
                        </div>
                        <div class="col-xs-12 name">{{ e_coupon.name }}</div>
                        <div class="col-xs-12 time"> <img src="{% static 'images/time_shouye.png' %}" />已结束</div>

                    </div>
                    <div class="col-xs-12 bottom bottom_index bg_white">
                        <div class="info">
                            <div class="col-xs-6 font_gl total_count">名额：{{ e_coupon.total_count }}</div>
                            <div class="col-xs-6 font_gl received_count">{{e_coupon.received_count }}人已抢到</div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
	{% endif %}
    {% endfor %}
</div>
{% endblock %}
