{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
    抢半价（江门站）
{% endblock %}
{% block header-left %}
    <a href="javascript:history.back()" class="font_g"><span class="fa fa-angle-left" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"></span></a>
{% endblock %}
{% block header-middle %}
    我的优惠券
{% endblock %}
{% block header-right %}
{% endblock %}
{% block middle %}
    <div class="container-fluid">
        <div class="row font_w">
            <div class="col-xs-12 coupon2_detail" style="height:95px;
             {% if coupon_log.consume_state == "yes" %}
                background: url('{% static 'images/border_top_red.png' %}') 0% 0%, url('{% static 'images/border_bottom_red.png' %}') 0% 100%, -webkit-gradient(linear, left top, left bottom, color-stop(0, #dc4144), color-stop(1, #d1242d));
             {% elif expire == "True" %}
                background: url('{% static 'images/border_top_gray.png' %}') 0% 0%, url('{% static 'images/border_bottom_gray.png' %}') 0% 100%, -webkit-gradient(linear, left top, left bottom, color-stop(0, #70706f), color-stop(1, #4c4c4c));
             {% else %}
                background: url('{% static 'images/border_top_green.png' %}') 0% 0%, url('{% static 'images/border_bottom_green.png' %}') 0% 100%, -webkit-gradient(linear, left top, left bottom, color-stop(0, #86c12d), color-stop(1, #75ad15));
             {% endif %}
             ">
                <div class="col-xs-12 top" style="border-bottom:0;">
                    <div class="col-xs-2 left">
                        <img src="{{MEDIA_URL}}{{ coupon_log.coupon.company.gallery.galleryPic.first.pic }}" class=""/>
                    </div>
                    <div class="col-xs-9 right">
                        <div class="col-xs-12 font_16 top">{{ coupon_log.coupon.company.name }}</div>
                        <div class="col-xs-4 font_20 middle">{{ coupon_log.coupon.label }}</div>
                        <div class="col-xs-8 font_12 bottom">
                            <div>满{{ coupon_log.coupon.original_price }}使用</div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="center_label_my_coupon" style="margin-top: 22px">
                {% if coupon_log.consume_state == "yes" %}
                    <img src="{% static 'images/yishiyong.png' %}"/>
                {% else %}
                    {% if expire == "True" %}<img src="{% static 'images/yiguoqi.png' %}"/>{% endif %}
                {% endif %}
            </div>
        </div>

    </div>
{% endblock %}
{% block content %}
    <div class="container-fluid">

        <div class="row consume_code">
            <div class="title" style="font-size: 30px;margin-bottom: 2px">
                {% if coupon_log.consume_state == "yes" %}
                <font style="text-decoration:line-through" class="font_r">&nbsp;
                {% endif %}
                    <consume_code style="color:{{ coupon_log.coupon.color_end }}">{{ coupon_log.consume_code }}</consume_code>
                {% if coupon_log.consume_state == "yes" %}
                &nbsp;</font>
                {% endif %}
            </div>
            <div class="font_gl" style="font-size: 16px; text-align: center;margin-bottom: 26px">福利消费码</div>
        </div>
        {% if coupon_log.consume_state == "yes" %}
        <div class="row bg_gray_dark win_list font_w" style="width: 96%;margin-left: 2%;border-radius: 3px;">
            使用日期：{{ coupon_log.consume_date }}
        </div>
        {% endif %}
        <div class="row rule bg_gray">
            <div class="title">使用说明</div>
            <div class="detail_info">
                {{ coupon_log.coupon.rule | safe }}
            </div>
        </div>
        <div class="row company">
            <div class="contact">
                <a href="tel:{{ coupon_log.coupon.company.tel }}" style="text-decoration: none">
                    <div class="col-xs-12 font_gd">
                        <div class="detail_title col-xs-2"><img src="{% static 'images/tel.png' %}"/></div>
                        <div class="detail_title col-xs-8" style="padding-left:0;padding-right: 0;"><div class="tel contact_item font_gd">电话: {{ coupon_log.coupon.company.tel }}</div></div>
						<div class="detail_arrow col-xs-2"><i class="fa fa-chevron-right"></i></div>
                    </div>
                </a>
                <div class="col-xs-12 bg_gray">
                    <div class="detail_title col-xs-2"><img src="{% static 'images/site.png' %}"/></div>
					<div class="detail_title col-xs-8" style="padding-left:0;padding-right: 0;"><div class="address contact_item">地址:<a href="http://apis.map.qq.com/uri/v1/marker?marker=coord:{{coupon_log.coupon.company.gps}};title:{{coupon_log.coupon.company.name}};addr:{{ coupon.company.address }}" style="color:{{ coupon_log.coupon.color_end }}"> {{ coupon_log.coupon.company.address }}</a></div></div>
                    <div class="detail_arrow col-xs-2"><i class="fa fa-chevron-right"></i></div>
                </div>
                <div class="col-xs-12 ">
                    <div class="detail_title col-xs-2"><img src="{% static 'images/time.png' %}"/></div>
                    <div class="detail_title col-xs-10" style="padding-left:0;padding-right: 0;"><div class="open_time contact_item">时间: {{ coupon_log.coupon.company.open_time }}</div></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}