{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
    抢半价（江门站）
{% endblock %}
{% block header-left %}
    <a href="javascript:history.back()" class="font_g"><span class="fa fa-angle-left"></span></a>
{% endblock %}
{% block header-middle %}
    消费者维权
{% endblock %}
{% block header-right %}
{% endblock %}
{% block middle %}
    <div class="container-fluid">
        <div class="row bg_green" style="text-align: center;padding: 20px 0 30px 0">
            <img src="{% static "images/qiangbanjia_logo.png" %}" style="width:20%;margin: 0px 0 10px 0"/>
            <div class="col-xs-12 font_w" style="font-size: 20px">抢半价 1.5</div>
        </div>
    </div>
{%endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row" style="padding: 20px">
            <div class="col-xs-12">
                江门抢半价——江门本地商家终极优惠O2O平台<br/><br/>
                “江门抢半价”作为当地最值得信赖的平台，秉承最优惠、最优质的宗旨，为消费者收罗本地商家终极优惠特权。<br/>
                <br/>
                消费维权：<br/>
                凡是在我们平台抢得任何优惠的消费者，如到店消费中出现商品或服务数量、质量与介绍有差别，或存在捆绑消费、隐形消费等，请联系我们为您处理。<br/><br/>
                <span style="color:#DC4144">先行赔付原则：</span><br/>
                我们会采取先赔付后问责的形式，先维护消费者的利益，后追究商家的形式，消费者在消费的所有损失，由我们先行赔付。<br/>
                <br/>
                您的反馈与建议是我们成长的宝贵推动力！<br/>
                我们的成功，离不开大家的支持与信赖！
            </div>
        </div>
		<div class="row">
			<a href="tel:0750-3400903">
				<div class="radius_button_lg bg_green font_w">
					<span class="glyphicon glyphicon-earphone"> 我 要 维 权 </span>
				</div>
			</a>
		</div>
    </div>
{% endblock %}
