{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
    抢半价（江门站）
{% endblock %}
{% block header-left %}
    <a href="javascript:history.back()" class="font_g"><span class="fa fa-angle-left" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"></span></a>
{% endblock %}
{% block header-middle %}
    获奖名单
{% endblock %}
{% block header-right %}
{% endblock %}
{% block middle %}
    <div class="container-fluid">
        <div class="row win_title bg_green font_w">
            <strong>恭喜以下用户</strong><br>
            获得由{{ coupon.company.name }}提供的{{ coupon.name }}
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        {% for coupon_log in coupon_logs %}
        <div class="row win_person border_b">
            <div class="col-xs-3" style="padding-left: 0">
                <img src="{{ coupon_log.bz_member.head_image_url }}" />
            </div>
            <div class="col-xs-9" style="padding: 0">
                <div class="col-xs-12" style="padding:0;font-size: 18px">{{ coupon_log.bz_member.nickname }}</div>
                <div class="col-xs-6 font_gl" style="padding:0">中奖编号：{{ coupon_log.id }}</div>
                <div class="col-xs-6 font_gl" style="padding:0; text-align: right">{{ coupon_log.received_time }}</div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}