<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
wx.config({
    debug: true,
	appId: '{{jsapi_config.appid}}',
	timestamp: {{jsapi_config.timestamp}}, 
	nonceStr: '{{jsapi_config.noncestr}}', 
	signature: '{{jsapi_config.signature}}',
    jsApiList: ['bathAddCard',]
});
</script>
</head>

<body style="background-color: black;">
	<br/>
	<a href="#" id="batchAddCard" style="color: lime; text-decoration:;">Click me for getting more coupons!</a>

<script>
var readyFunc = function onBridgeReady() { 
	document.querySelector('#batchAddCard').addEventListener('click', function(e) {
		WeixinJSBridge.invoke('batchAddCard', 
		{ "card_list": [
			{
				"card_id": "{{card.card_id}}", 
				"card_ext": "{\"code\":\"\",\"openid\":\"\",\"timestamp\":\"{{jsapi_config.timestamp}}\",\"signature\":\"{{card.signature}}\"}"
			}, ]
		}, function(res) {}); 
	}); 
}

if (typeof WeixinJSBridge === "undefined") { 
	document.addEventListener('WeixinJSBridgeReady', readyFunc, false); 
} 
else { 
	readyFunc(); 
}
</script>
</body>
</html>
