{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_modify static %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
<script type="text/javascript" src="{% static '/static/js/jquery.min.js' %}"></script>
<script type="text/javascript">
// Wechat card getter.
$( function() {
	$('#id_wechat_company').bind('change', 
		function() {
			// Ajax loading.
			loading_text = "{% trans 'Loading' %}...";

			$('#select_card option:first').html(loading_text);
			$('#id_title').val(loading_text);

			// Get ajax company list.
			$.ajax({ 
				url: "/cardpack/get_simple_card_list/?company=" + 
					parseInt( $(this).val() ), 
				dataType: "json", 
				success: function(data) {
					$('#select_card').remove();
					$('#id_title').parent().append('<select id="select_card">');
					$('#id_title').hide();

					for(i in data)
						$('#select_card').append( '<option value="'+ i +'">'+ data[i].title + '</option>' );

					//$('#id_card_id').val( data[$('#select_card').val()].card_id );
					//$('#id_title').val( $('#select_card').find( '[value="'+$('#select_card').val()+'"]' ).text() );	

					$('#select_card').bind('change', 
						function() { 
							$('#id_card_id').val( data[$(this).val()].card_id ).attr("readonly","readonly"); 
							$('#id_logo_img').val( data[$(this).val()].logo_url ); 
							$('#id_custom_company').val( data[$(this).val()].original_company ); 
							$('#id_description').val( data[$(this).val()].description ); 
							$('#id_color').val( data[$(this).val()].color ).attr("readonly","readonly"); 
							$('#id_title').val( $('#select_card').find( '[value="'+$('#select_card').val()+'"]' ).text() );	
					});
					$('#select_card').change();
				},
				error: function (data, status, e){ 
					$('#select_card option:first').html(e);	
					$('#select_card option:first').attr('selected','true');
				},
			});	   
		}
	);
});
</script>
{{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-form{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; {% if has_change_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
&rsaquo; {% if add %}{% trans 'Add' %} {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}
</div>
{% endblock %}
{% endif %}

{% block content %}<div id="content-main">
{% block object-tools %}
{% if change %}{% if not is_popup %}
  <ul class="object-tools">
    {% block object-tools-items %}
    <li>
        {% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}
        <a href="{% add_preserved_filters history_url %}" class="historylink">{% trans "History" %}</a>
    </li>
    {% if has_absolute_url %}<li><a href="{{ absolute_url }}" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif%}
    {% endblock %}
  </ul>
{% endif %}{% endif %}
{% endblock %}
<form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.model_name }}_form" novalidate>{% csrf_token %}{% block form_top %}{% endblock %}
<div>
{% if is_popup %}<input type="hidden" name="{{ is_popup_var }}" value="1" />{% endif %}
{% if to_field %}<input type="hidden" name="{{ to_field_var }}" value="{{ to_field }}" />{% endif %}
{% if save_on_top %}{% block submit_buttons_top %}{% submit_row %}{% endblock %}{% endif %}
{% if errors %}
    <p class="errornote">
    {% if errors|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
    </p>
    {{ adminform.form.non_field_errors }}
{% endif %}

{% block field_sets %}
{% for fieldset in adminform %}
  {% include "admin/includes/fieldset.html" %}
{% endfor %}
{% endblock %}

{% block after_field_sets %}{% endblock %}

{% block inline_field_sets %}
{% for inline_admin_formset in inline_admin_formsets %}
    {% include inline_admin_formset.opts.template %}
{% endfor %}
{% endblock %}

{% block after_related_objects %}{% endblock %}

{% block submit_buttons_bottom %}{% submit_row %}{% endblock %}

{% if adminform and add %}
    <script type="text/javascript">
        (function($) {
            $(document).ready(function() {
                $('form#{{ opts.model_name }}_form :input:visible:enabled:first').focus()
            });
        })(django.jQuery);
    </script>
{% endif %}

{# JavaScript for prepopulated fields #}
{% prepopulated_fields_js %}

</div>
</form></div>
{% endblock %}
