{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
   摇一摇
{% endblock %}

{% block middle %}
<style>
	.blanking { display: none; } .container-fluid .row { background: transparent!important; } 
	#retry a, #exit a, #fetch_goods a { color: rgb(237,169,157); text-decoration: none;  }
</style>

<audio preload="preload" id="shake_audio">
	<source src="/static/game/sound/shake.mp3">
	Your browser does not support the audio tag.
</audio>
<audio preload="preload" id="triumph_audio" src="/static/game/sound/triumph.mp3"></audio>
<audio preload="preload" id="lose_audio" src="/static/game/sound/lose.mp3"></audio>

<script type="text/javascript">
(function($) {
	// initialize.
	var image = [];
	scale = 3.71828;
	static_scale = 1.5;
	lock = false;

	// functions define.
	pos = function( image_obj, per_h, per_v) {
		return image_obj.css( { position: 'absolute', 
			left: $(window).width() * per_h, top: $(window).height() * per_v } );	
	};

	function loadImage(url, callback, arg) {
		var img = new Image(); 
	    img.src = url;
	 
	    if(img.complete) { callback.call(img, arg); return; }
	    img.onload = function () { callback.call(img, arg); };
	};

	function isWeiXin(){
		var ua = window.navigator.userAgent.toLowerCase();
		if(ua.match(/MicroMessenger/i) == 'micromessenger'){
			return true;
		}else{
			return false;
		}
	}

	// play sound.
	playSound = function(audio_object) {
		document.getElementById(audio_object).play();
		document.addEventListener("WeixinJSBridgeReady", function () {
			WeixinJSBridge.invoke('getNetworkType', {}, function (e) {
				document.getElementById(audio_object).play();
			});
		}, false);
	};

	// shake animate.
	jQuery.fn.shake = function(
			intShakes /*Amount of shakes*/, intDistance /*Shake distance*/, intDuration /*Time duration*/) {
		this.each(function() {
			var jqNode = $(this);
			jqNode.css({position: 'relative'});
			for (var x=1; x<=intShakes; x++) {
				jqNode.animate({ left: (intDistance * -1) },(((intDuration / intShakes) / 4)))
				.animate({ left: intDistance },((intDuration/intShakes)/2))
				.animate({ left: 0 },(((intDuration/intShakes)/4)));
			}
		});
		return this;
	}

	// body style.
	$('body').css({backgroundColor:'rgb(217,68,73)',position:'fixed',margin:'0 auto'});
	$('.bg_gray').hide();
	
	// display messages.	
	$('body')
		.append('<div id="message">')
		.append('<div id="circle">')
		.append('<div id="gift">')
		.append('<div id="handphone">')
		.append('<div id="mask">')
		.append('<div id="popup_lose">')
		.append('<div id="popup_triumph">')
		.append('<div id="cloud">');

	$('#message').append('<img src="/static/game/images/yao.png" />')
		.find('img')
		.width( $(window).width()/static_scale )
		.css({ position: 'fixed', display: 'block', margin: '0 auto', 
			marginTop: $(window).height() * .08, 
			marginLeft: ( $(window).width() - $(this).width()/static_scale ) / 2
	   	})
		.shake(2,10,400);

	$('#circle').append('<img src="/static/game/images/yao2.png" />')
		.find('img')
		.width( $(window).width()/static_scale )
		.css({ position: 'fixed', display: 'block', margin: '0 auto', 
			top: $(window).height() * .35, 
			left: ( $(window).width() - $(this).width()/static_scale ) / 2
	   	});
	
	$('#handphone').append('<img src="/static/game/images/phone.png" />')
		.find('img')
		.width( $(window).width()/static_scale/2 )
		.css({ position: 'fixed', display: 'block', margin: '0 auto', 
			top: $(window).height() * .42, 
			left: ( $(window).width() - $(this).width()/static_scale/2 ) / 2
	   	});
	
	$('#gift').append('<img src="/static/game/images/gift2.png" />')
		.find('img')
		.width( $(window).width()/static_scale/4 )
		.css({ position: 'fixed', display: 'block', margin: '0 auto', 
			marginTop: $(window).height() * .25, 
			marginLeft: ( $(window).width() - $(this).width()/static_scale/4 ) / 2
	   	});
	
	$('#cloud').append('<img src="/static/game/images/sky.png" />')
		.find('img')
		.width( $(window).width()/static_scale )
		.css({ position: 'fixed', display: 'block', margin: '0 auto', 
			bottom: -100, left: 0, width: '100%', 
	   	})
		.animate( { bottom: 0 }, 1000 );

	// pop up menu.
	$('#mask')
		.width( $(window).width() )
		.height( $(window).height() )
		.css({ position: 'fixed', display: 'block', margin: '0 auto',
			backgroundColor: 'rgba(0,0,0,.8)',
			top: 0, left: 0, 
		})
		.hide();

	$('#popup_lose')
		.width( $(window).width()/static_scale )
		.height( $(window).width()/static_scale * 382 / 293 )
		.css({ position: 'fixed', display: 'block', margin: '0 auto',
			backgroundImage: 'url(/static/game/images/lose_bg.png)',
			backgroundSize: 'contain',
			backgroundRepeat: 'no-repeat',
			top: ( $(window).height() - $(window).height() / 1.8 ) /2, 
			marginLeft: ( $(window).width() - $(this).width()/static_scale ) / 2,
			paddingTop: '50%',
		})
		.append( "<div id='retry'><a href='javascript:void();'>再摇一次</a></div>" )
		.append( "<div id='exit'><a href='javascript:window.location.replace(\"/search_by_taxonomy/?key=shake\");'>查看其他福利</a></div>" )
		.hide();

	$('#popup_triumph')
		.width( $(window).width()/static_scale * 1.2 )
		.height( $(window).width()/static_scale * 1.2 * 504 / 334 )
		.css({ position: 'fixed', display: 'block', margin: '0 auto',
			backgroundImage: 'url(/static/game/images/triumph_bg.png)',
			backgroundSize: 'contain',
			backgroundRepeat: 'no-repeat',
			top: ( $(window).height() - $(window).height() / 1.1 ) /2, 
			marginLeft: ( $(window).width() - $(this).width()/static_scale * 1.2 ) / 2,
			paddingTop: '33%',
		})
		.append( "<div style='text-align: center; width: 100%;'><img src='/static/game/images/31.png' width='60%' /></div>" )
		.append( "<div style='text-align: center; width: 100%;'><br/><img id='coupon_image' height='90px' /></div>" )
		.append( "<div style='width: 90%; margin: 0 auto; margin-top: 10px;'><p id='coupon_title' align='center' style='color: white; font-weight: bold; font-size: 18px;'></p></div>" )
		.append( "<div id='fetch_goods'><a href='javascript:window.location.replace(\"/center\");' style='color: white'>领取福利</a></div>" )
		.hide();


	$('#popup_lose > div, #fetch_goods')
		.css( {
			width: '70%', height: '35px',
			border: '1px solid rgb(237,169,157)',
			margin: '0 auto',
			marginTop: '5%',
			color: 'rgb(237,169,157)',
			textAlign: 'center',
			lineHeight: '35px',
			fontSize: '18px',
		} );

	$('#retry').click( function() { lock = false; $('#mask,#popup_lose').fadeOut(); } );

	$('#retry, #exit, #fetch_goods').bind( "touchstart", function () {
		$(this).css({ backgroundColor: 'white' });
		$(this).find('a').css({ color: 'rgb(237,169,157)' });
	});

	$('#retry, #exit, #fetch_goods').bind( "touchend", function () {
		$(this).css({ backgroundColor: 'transparent' });
		$(this).find('a').css({ color: 'white' });
	});


	/**
	 * Add devicemotion listener.
	 */
	if( window.DeviceMotionEvent ) {
		if((navigator.userAgent.match(/iPhone/i)) || (navigator.userAgent.match(/iPad/i))) {
			// iphone / ipad and so on...
			var speed = 25;
		}
		else {
			// android, and others...
			var speed = 15;
		}
		var x = y = z = lastX = lastY = lastZ = 0;

		window.addEventListener('devicemotion', function() {
			var acceleration = event.accelerationIncludingGravity;
			x = acceleration.x;
			y = acceleration.y;
			z = acceleration.z;

			// debug monitor here.
			/*
			if( Math.abs(x-lastX) > 5 || Math.abs(y-lastY) > 5 )
				alert( "accelerationIncludingGravity:(x:y:z):("+ 
					Math.abs(x-lastX) + ":" + Math.abs(y-lastY) + ":" + Math.abs(z-lastZ) + ")" );
			*/

			if( Math.abs(x-lastX) > speed || Math.abs(y-lastY) > speed || Math.abs(z-lastZ) > speed ) {
				// Shake Action start here.

				// shake gift image.
				$('#gift img').shake(2,10,300);

				// play shake sound.
				playSound('shake_audio');

				// in the same period of time call only 1 time.
				if(!lock) {
					lock = true;
					
					// fetch coupon from server.
					$.ajax({
						type: "GET",
						url: "/coupon/"+location.hash.replace('#','')+"/go/",
						contentType: "application/json; charset=utf-8",
						dataType: "json",
						success: function (data) {
							// Play with returned data in JSON format
							$('#retry a').text('再摇一次 ('+data['times']+')');

							if( data['triumph'] == false ) {
								if( !parseInt( data['times'] )) {
									$('#retry').hide();
									$('#exit a').text('您的次数已用完');
								}

								setTimeout( function() {
									$('#mask, #popup_lose').fadeIn();
									// play lose sound.
									playSound('lose_audio');
								}, 1300 );
							}
							else {
								setTimeout( function() {
									// play triumph sound.
									playSound('triumph_audio');

									// write triumph information.
									$('#coupon_image').attr('src', data['image']);
									$('#coupon_title').text( data['title']);
									$('#mask, #popup_triumph').fadeIn();
								}, 1000 );
							}				

							// when pressed 'on' in popup box
							//lock = false;
						},
						error: function (msg) {
							alert('网络已断开，请检查网络连接');
						}
					});
				}	
			}
			lastX = x, lastY = y, lastZ = z;
		}, false);
	}
	else {
		alert( 'Your browser didn\'t support HTML5 devicemotion event.' );
		history.back();
	}

})(jQuery);

</script>
{% endblock %}

{% block footer %}
{% endblock %}
