<!DOCTYPE html>  
<html>  
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>login.html</title>
</head>

<body>
	<p style="display: none;">

	{% if me = False %}
		<a href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wxa4332df16d4d7a62&redirect_uri=
			http%3A%2F%2Fbz088.com:8000/login&response_type=code&scope=snsapi_login&state=3d6be0a4035d839573b04816624a415e#wechat_redirect">Wechat Login</a>
	{% else %}
		<a href="javascript:alert('你login咗啦，仲login个毛线啊');">Login again?</a>
		&nbsp;
		<a href="logout">Logout</a>
	{% endif %}
	</p>
	<div class="login_error">
		{% if errors %}
		<div class="login_error_content">
			{% for error in errors %} 
				{{error}}   
			{% endfor %}  
		</div>
		{% endif %}
		{% if login_notices %}
		<div class="login_error_content spark">
			Please login first.
		</div>
		{% endif %}
	</div>

	<div class="user_info">
		{% if userinfo %}
			{% for key,value in userinfo.items %}
			  {{key}}:{{value}}<br/>
			{% endfor %}
		{% endif %}	
	</div>


</body>
</html>
