.bg_red{
    background-color: #DC4144;
}
.bg_red_dark{
    background-color: #A12228;
}
.bg_green{
    background-color: #86C12D;
}
.bg_white{
    background-color: #FFFFFF;
}
.bg_gray{
    background-color: #f9f9f9;
}
.bg_gray_mid{
    background-color: #978F8B;
}
.bg_gray_dark{
    background-color: #878787;
}
.bg_black{
    background-color: #000000;
    opacity: 0.5;
}
.bg_center{
    background: url("../images/center_lowpolygon.png") no-repeat;
	background-size: cover;
	padding-top: 15px;
}
.bg_line{
    background-size: contain!important;
    background-repeat: no-repeat!important;
    background-position: 0 100%!important;
}

.font_r{
    color: #DC4144;
}
.font_gd{
    color: #2A2A2A;
}
.font_gl{
    color: #70706F;
}
.font_w{
    color: #FFFFFF;
}
.font_g{
    color: #86C12D;
}

.font_20{
    font-size: 20px;
}
.font_18{
    font-size: 18px;
}
.font_16{
    font-size: 16px;
}
.font_14{
    font-size: 14px;
}
.font_12{
    font-size: 12px;
}
.font_9{
    font-size: 9px;
}

.coupon_shadow{
    box-shadow: 0px 6px 7px #EEEEEE;
}
.coupon_shadow2{
    box-shadow: 1px 1px 7px #CECECE;
}
.footer{

}
.footer_item{
    text-align: center;
    color: #2A2A2A;
    font-size: 11px;
    z-index:11;
}
.footer_item img{
    width: 100%;
}

.bottom_button{
    position:absolute;
    bottom:0;
    width:100%;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
}
.bottom_fixed{
	position:fixed;
	bottom: 0;
	width: 100%;
}

.font_discount{
    font-size: 50px;
}

.font_free{
    font-size: 25px;
}

.font_money{
    font-size: 30px;
}

.border_t{
    border-top: 1px solid #EEEEEE;
}
.border_b{
    border-bottom: 1px solid #EEEEEE;
}

.image_gray {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}


.header{
    text-align: center;
    height: 50px;
    line-height: 50px;
}

.activity{
    text-align: center;
}

.activity .item{
    padding: 0px 0px 2px 0px;
}

.activity .title{
    font-size: 16px
}

.activity .subtitle{
    font-size: 12px;
    margin-bottom: 12px;
}

.activity img{
    width: 65%;
}

/* font-page */
/*swipe*/
.box_swipe>ol {
	height: 30px;
	position: relative;
	z-index: 10;
	margin-top: -40px;
	text-align: center;
	padding-left: 0px;
	background-color: rgba(0,0,0,0.3);
}

.box_swipe {
	overflow: hidden;
	position: relative;
}

.box_swipe ul {
-webkit-padding-start: 0px;
}

.box_swipe>ol>li {
	display: inline-block;
	margin: 5px;
	width: 10px;
	height: 10px;
	background-color: #757575;
	border-radius: 10px;
}

.box_swipe>ol>li.on {
	background-color: #ffffff;
}

ul, ol {
	margin-top: 0;
	margin-bottom: 0px;
}

.info { margin-top: 0px; }
/*swipe*/

.coupon_front_gallery {
	width: 96%;
	margin: 5px auto -5px auto;
}

.coupon_front_gallery img {
	border-radius: 10px 10px 0 0;
}

.coupon_front_gallery > ol{
	background: url("../images/line-lg.png") 0 101% no-repeat; 
	background-size: contain;
}

.coupon_front_box {
	width: 96%;
	margin: 0 auto;
	margin-bottom: 10px;
}

.coupon_front_box a:hover { text-decoration: none; }

.coupon_front_box div {
	text-align: center;
	vertical-align: middle;
}

.coupon_front_me, .coupon_front_shake {
	background: url('../images/line-lg.png') 0 100% no-repeat;
	background-color: white;
	background-size: 200%;
}

.coupon_front_money, .coupon_front_lottery{
	background: url('../images/line-lg.png') 0 100% no-repeat;
	background-color: white;
	background-size: 200%;
}

.coupon_front_me, .coupon_front_money {
	padding-top: 5px;	
	padding-bottom: 5px;	
}

.coupon_front_box_border {
	border-bottom: 3px solid rgb(219,219,219);
}

.coupon_front_shake {
	width: 96%;
	margin: 0 auto;
	background-color: white;
}

.coupon_front_shake h4,.coupon_front_shake p {
	text-align: center;
}
.coupon_front_box h4 { font-size: 14px; line-height: 1em; margin: 1em 0 0.1em 0; }
.coupon_front_box p { font-size: 11px; color: #888!important; margin-bottom: 0px; }

.table p { font-size: 12px; }

.coupon_state_label{
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    margin-bottom: 10px;
}

.coupon_state_label div {
    border-radius: 10px;
    border: 1px solid silver;
    width: 30%;
    margin: 0 auto;
}

.coupon{
    margin-bottom: 16px;
}

.coupon .company_info{
    padding:0;
    height:35px;
}

.coupon .image{
    width: auto;
    height:100%;
    border-radius: 50%;
    float:left;
}
.coupon .image_detail{
    width: 17%;
    margin-left: 41.5%;
    margin-top: 20px;
    border-radius: 50%;
}
.coupon .company_name{
    font-size: 14px;
    height:35px;
    line-height: 35px;
    margin-left: 39px;
}
.coupon .company_name_my_coupon{
    font-size: 14px;
    height:35px;
    line-height: 35px;
    margin-left: 39px;
}
.coupon .company_name_detail{
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}
.coupon .way{
    position: absolute;
    width: 100%;
    margin-top: 10%;
    text-align: center;
}
.coupon .way img{
    width:18%;
    opacity: 0.8;
}
.coupon img{
    width:50%;
}
.coupon .time{
    font-size: 12px;
    text-align: center;
    margin-bottom: 8px;
    height: 20px;
    line-height: 20px;
}
.coupon .time_my_coupon{
    font-size: 12px;
    text-align: center;
    margin-bottom: 20px;
    height: 20px;
    line-height: 20px;
}
.coupon .time_detail{
    font-size: 12px;
    text-align: center;
    margin-bottom: 22px;
    height: 20px;
    line-height: 20px;
}
.coupon .time img{
    height:62%;
    width:auto;
    margin-right: 5px;
}

.coupon2{
   height: 72px;
   margin-bottom: 10px;
}

.coupon2 .left{
    padding: 2px 15px;
    background: url("../images/border_l_w.png") no-repeat;
    background-size: contain;
    background-position: 0% 0%;
    height: 100%;
}

.coupon2 .left>div{
    padding: 0;
}

.coupon2 .left .bottom{
    padding-left: 5px!important;
}


.coupon2 .right{
    padding: 12px 0px;
    background-size: contain!important;
    background-position: 100% 0%!important;
    background-repeat: no-repeat!important;
    height: 100%;

}

.coupon2 .image{
    padding:5px;
}
.coupon2 .image img{
    border-radius: 50%;
    box-shadow: 1px 1px 5px #cecece;
}
.coupon2 .left .top{
    height:70px;

}
.coupon2 .left .top .text{
    padding:7px;

}
.coupon2 .left .top .text .font_gd{
    height: 18px;
    overflow: hidden;

}
.coupon2 .left .top .text .state{
    float: left;
    color: white;
    font-size: 10px;
    height: 18px;
    line-height: 18px;
    padding: 0 3px;
    border-radius: 2px;
}

.coupon2 .right .top{
    font-size: 22px;
    height: 28px;
    text-align: center;
    width: 90%;
}

.coupon2 .right .middle{
    font-size: 10px;
    text-align: center;
}

.coupon2 .right .bottom{
    height: 20px;
    background: white;
    border-radius: 10px;
    width: 80%;
    margin-left: 10px;
    margin-top: 2px;
    font-size: 12px;
    text-align: center;
}

.coupon2_detail{
    width:96%!important;
    margin: 10px 2%;
    padding: 10px;
    height: 180px;
    background-repeat: no-repeat!important;
    background-size: contain!important;
}

.coupon2_detail >.top{
    padding:0 0 0 0;
    border-bottom: 1px solid #FFFFFF;
    height: 60px;
    margin: 10px 0px;
}
.coupon2_detail .top .left{
    text-align: left;
}
.coupon2_detail .top .left img{
    width: 50px;
    height: 50px;
}
.coupon2_detail .top .right{
    padding: 0 0 0 10px;
}
.coupon2_detail .top div{
    padding: 0;
}

.coupon2_detail .top .right .top{
    height: 25px;
    line-height: 25px;
}
.coupon2_detail .top .right .middle{
    height: 25px;
    line-height: 25px;
}
.coupon2_detail .top .right .bottom{
    height: 25px;
    line-height: 25px;
}
.coupon2_detail .top .right .bottom div{
    background: white;
    height: 18px;
    line-height: 18px;
    width: 60%;
    color: black;
    text-align: center;
    margin-top: 4px;
    border-radius: 3px;
    font-size: 10px;
}
.coupon2_detail .bottom{
    padding: 0;
}
.coupon2_detail .bottom .left .bottom{
    padding-left: 5px;
}
.coupon2_detail .bottom div{
    padding: 0;

}
.coupon2_detail .bottom .right{
    text-align: center;
}
.coupon2_detail .bottom .right .top{
    height:25px;
}

.coupon2_detail .bottom .right div div{
    padding:0px;
    border-radius: 10px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    box-shadow: 2px 3px 3px #70706f;
    width:70%;
    margin-left: 15%;
}

.coupon3{
   margin-bottom: 16px;
}
.coupon3 .top{
    padding: 0;
}
.coupon3 .bottom{
    height:50px;
    padding:3px 15px;
}

.coupon3 .bottom span{
    color:#dc4144;
    font-size: 20px;
}
.coupon3 .bottom div{
    padding:0;
}
.coupon3 .bottom div:nth-child(2n+1){
    text-align: left;
}

.coupon3 .bottom div:nth-child(2n){
    text-align: right;
}
.coupon3 .company{
    position: absolute;
    width: 100%;
    text-align: center;
    background-color: rgba(255,255,255,0.9);
    padding: 4px;
    height:28px;
    overflow: hidden;
}
.coupon3 .company_logo{
    position: absolute;
    width: 10%;
    margin-top: 12px;
    margin-left: 12px;
    border-radius: 50%;
    box-shadow: 1px 1px 5px #cecece;
}
.coupon3 .time{
    position: absolute;
    width: 64%;
    margin-left: 18%;
    text-align: center;
    background-color: white;
    border-radius: 0 0 10px 10px;
    padding: 4px;
    opacity: 0.8;
    height:28px;
    overflow: hidden;
}
.lottery_time{
    text-align: center;
    margin-bottom: 10px;
}
.lottery_label{
    padding: 2px!important;
    font-size: 9px;
    text-align: center!important;
    width: 50%;
    margin-left: 50%;
    color: white;
    border-radius: 2px;
}

.top_index{
    border-radius:10px 10px 0 0;
    background: url("../images/line.png") 0 101% no-repeat;
    background-size: contain;
    padding:6px ;
    border-top: 0px!important;
}
.top_my_coupon{
    background: url("../images/line.png") 0 101% no-repeat;
    background-size: contain;
    padding:20px ;
    border-top: 0px!important;
}

.bottom_index{
    border-radius: 0 0 10px 10px;
    border-bottom: 0px!important;
}
.bottom_my_coupon{
    border-bottom: 0px!important;
}
.bottom{
    height: 32px;
    padding: 2px 0;
}
.coupon_index{
    width:96%!important;
	margin:0 2%!important;
    border-radius:10px;
    box-shadow: 1px 1px 5px #aaaaaa!important;
    padding:0px!important;
}
.coupon .info{
    padding: 4px 0;
}
.coupon .name{
    font-size: 22px;
    height:28px;
    overflow: hidden;
    text-align: center;
    margin:5px 0 5px 0;
}
.coupon .name_my_coupon{
    font-size: 22px;
    height:28px;
    overflow: hidden;
    text-align: center;
    margin:20px 0 5px 0;
}
.bottom .name{
    font-size: 20px;
}
.coupon .value{
    font-size: 18px;
    text-align: right;
    padding:0;
    height:35px;
    line-height: 35px;
}
.coupon .value_my_coupon{
    font-size: 18px;
    text-align: right;
    padding:0;
    height:35px;
    line-height: 35px;
}
.bottom .value{
    font-size: 20px;
    text-align: right;
}
.coupon .total_count{
    font-size: 14px;
    padding:0
}

.bottom .total_count{
    font-size: 14px;
}
.coupon .received_count{
    font-size: 14px;
    text-align: right;
    padding:0
}

.bottom .received_count{
    font-size: 14px;
    text-align: right;
}
.coupon .received_count .win{
    border-radius:10px;
    margin-left: 30%;
    width:70%
}

.detail_title{
    font-size:16px;
    padding:14px 0 ;
}
.detail_arrow{
    font-size:16px;
    padding:14px 0 ;
    text-align: right;
}

.title{
    text-align: center;
    font-size:15px;
    margin:10px 0 2px 0;
}

.company{

}
.company .name{
    text-align: center;
    padding:10px;
    font-size: 22px;
}
.company .image{
    width: 20%;
    margin: 0 40%;
}
.company .info{
    width:86%;
    margin: 34px 7%;
    text-align:justify;
    text-justify:inter-ideograph;
}
.company .info img{
    width:100%!important;
    height: auto!important;
}
.company .detail_info{
    margin:0;
    width:100%;
}
.company .detail_info img{
    width:100%!important;
    height:auto!important;
    margin:0;
}
.company .detail_info p{
    margin: 0;
}
.company .contact{

    font-size:16px;
}
.company .contact img{
    width:55%;
    margin:0;
}
.contact_item{
    padding:2px;
}
.address {
    text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.content {
    padding-bottom: 18px;
}
.editor img{
    width: 100%!important;
    height: auto!important;
}

.activity_time{
    text-align: center;
    padding-bottom: 18px;
}

.detail_info{
    width:80%;
    margin: 0 10%;
}
.detail_info img{
    width:100%;
}

.introduction{
    padding-bottom: 18px;
}

.rule{
    padding-bottom: 18px;
}

.way_button img{
    position:fixed;
    bottom:80px;
    right:20px;
    width:20%;
    z-index: 9;
}

.win_list{
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
}

.detail_notice{
    width:58%;
    margin-left: 21%;
    background-color: #9bd4ef;
    position:fixed;
    top:20%;
    border-radius: 20px;
}
.detail_notice img{
    position: absolute;
    margin-top: -50px;
    left:8%;
    width:84%;
}
.detail_notice .notice_content{
    width:100%;
    text-align: center;
    padding: 10px;
    margin-top:40%;
    margin-bottom: 10px;
    font-size: 18px;
}

.detail_notice .notice_button{
    text-align: center;
    width:60%;
    margin-left: 20%;
    padding: 10px;
    background-color: #7cc1dd;
    border-radius: 10px;
    margin-bottom: 10px;
}

.my_coupon img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.my_coupon .name{
    font-size: 16px;
    margin-top: 10px;
}

.my_coupon .value{
    font-size: 18px;
    margin-top: 10px;
    text-align: right;
}

.my_coupon .time{
    font-size: 14px;
    margin-bottom: 12px;
}

.center{
    padding: 6px;
    text-align: center;
}
.center img{
    width: 26%;
    border-radius: 50%;
}
.center_list{
    position:fixed;
    top:0;
    width:100%;
    background-color: #86c12d;
    color:white;
    text-align: center;
    font-size:16px;
    height:40px;
    line-height: 40px;
    z-index: 9;
}
.buttons{
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
}
.buttons img{
    width:20%;
}

.buttons lf{
    color: #FFFFFF;
    font-size: 16px;
    margin-left: 14px;
}

.my_coupons_list{
    margin: 10px 0 ;
}

.my_coupons_list .item{
    width:96%;
    margin-left: 2%;
    margin-bottom: 10px;
    border: 1px solid #EEEEEE;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #cecece;
    padding:0;
}

.my_coupons_list .item .company_info{
    border-radius: 10px 10px 0 0 ;
    padding:20px;
    background-size: contain!important;
    background: no-repeat;
    background-position: 0 100%;
}
.my_coupons_list .item .company_info img{
    height:40px;
    width:auto;
    float: left;
    border-radius: 50%;
}
.my_coupons_list .item .company_info .company_name{
    height:40px;
    line-height: 40px;
    margin-left: 50px;
}
.my_coupons_list .item .info{
    text-align: center;
}

.my_coupons_list img{
    width: 20%;
    border-radius: 10px 10px 0 0 ;
}

.my_coupons_list .name{
    font-size: 16px;
    margin-top: 6px;
    padding: 0 8px;
}

.my_coupons_list .time{
    font-size: 14px;
    margin-bottom: 6px;
    padding: 0 12px;
}

.my_coupons_list .count{
    font-size: 14px;
    margin-bottom: 6px;
    padding: 0 12px;
}

.center_label{
    position: absolute;
    right: 30px;
    text-align: right;
    margin-top:14px;
}
.center_label_my_coupon{
    position: absolute;
    right: 10px;
    text-align: right;
    margin-top: 70px;
}
.center_label_my_coupon img{
    width: 26%;
}
.label_center{
    position: absolute;
    width: 95.5%;
    text-align: center;
    font-size: 30px;
    color: white;
    margin-top: 22px;
    background-color: rgba(0,0,0,0.7);
}

.win_title{
    padding: 30px 20px;
    text-align: center;
    font-size: 14px;
}
.win_title strong{
    font-size: 26px;
    font-weight: normal;
}
.win_person{
    font-size: 10px;
    padding: 10px;

}
.win_person img{
    width: 80%;
}

.about_item{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
}


.login {
    height: 40px;
    margin-bottom: 20px;
    padding: 0!important;
}

.login .name{
    height: 40px;
    margin-left: 60%;
    width:40%;
    border-radius: 5px 0 0 5px;
    text-align: center;
    line-height: 40px;

}

.login input{
    height: 40px;
    width:70%;
    border: 1px solid #86c12d;
    border-radius: 0 5px 5px 0;
}

.input_button{
    width:64%;
    margin: 20px 18%;
    height:40px;
    border-radius: 5px;
    font-size: 16px;
    border: 0;
}

.input_code{
    margin: 20px 0 6px 0 ;
    height:34px;
    padding: 0 5px!important;
}

.input_code input{
    width:100%;
    height:34px;
    border:0;
}

.input_code_button input{
    width:30%;
    height:34px;
    border: 0;
    border-radius: 20px;
}

.lose{
    background: url("../images/lose_bg.png");
    height:382px;
    width:293px;
    z-index: 99;
}
.lose_buttons{
    position: absolute;
    bottom: 0;
}
.lose_item{
    padding: 10px;
    color:white;
    font-size:20px;
    border:1px solid white;
    margin-bottom: 10px;
    text-align: center;
}
.radius_button_lg{
	width:80%;
	margin: 20px 10%;
	text-align: center;
	padding: 10px;
	border-radius: 10px;
}
.radius_button_lg span{
	font-size: 16px;
}
.detail_info_item{
    padding:10px!important;
}
.detail_info_item img{
    float: left;
    height:100%;
    margin-right: 10px;
    border-radius: 50%;
}
